<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon-32x32.png" sizes="32x32">
  <link rel="manifest" href="<%= BASE_URL %>site.webmanifest.json">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++) {%>
    <link type="text/css" rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[i] %>">
    <% } %>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <script src="https://api-maps.yandex.ru/2.1/?apiKey=f899d39a-6563-40ab-be1a-c876df040ddb&lang=ru_RU"
    type="text/javascript"></script>
  <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
</body>

</html>