<template>
  <div class="cart-block">
    <container mod="wide" v-if="!$store.state.cart.items.length">
      <div class="empty-cart">
        <h1>ВАША КОРЗИНА ПУСТА</h1>
        <div class="not-found__action">
          <my-button
              @click="backToShopping"
              class="back-button"
              theme="primary"
              size="xl"
          >В КАТАЛОГ</my-button
          >
        </div>
      </div>
    </container>
    <template v-else>
      <Breadcrumbs></Breadcrumbs>
      <container mod="wide">
        <h1>Корзина</h1>
        <div class="cart-grid">
            <div>
              <div class="cart-grid-header">
                <ul>
                  <li>Фото</li>
                  <li class="list-name-item">Наименование</li>
                  <li>Количество <br>товаров</li>
                  <li>Цена</li>
                  <li>Удалить</li>
                </ul>
              </div>
              <div class="cart-block__items">
                <div class="cart-item"
                     v-for="(cart_item, i) in $store.state.cart.items"
                     :key="i"
                >
                  <div class="cart-item__image"
                       :style="{background: `no-repeat url('${cart_item.product.get_thumbnail}') 50% center/contain`}"
                  ></div>
                  <div class="cart-item__content">
                    <router-link :to="cart_item.product.get_absolute_url">
                      <h2 class="content__title">{{ cart_item.product.name }}</h2>
                    </router-link>
                    <span class="cart-item__counter">{{ cart_item.quantity }} шт.</span>
                    <span class="content__price">
                      {{ cart_item.product.price }} руб.
                    </span>
                  </div>
                  <div class="cart-item__tools" @click="deleteFromCart(cart_item)">
                    <icon-base
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        class="icon-delete"
                    >
                      <icon-delete></icon-delete>
                    </icon-base>
                  </div>
                </div>
              </div>
            </div>
            <!--     ////////////////////   -->
            <aside class="cart-sidebar">
              <section class="cart-sidebar__section">
                <span class="cart-sidebar__title">СПОСОБ ДОСТАВКИ</span>
                <div class="cart-sidebar__shipping">
                  <div class="shipping-item" data-deliver="Эконом доставка" @click="deliverMethod">
                    <div class="shipping-item__text">
                      <span class="text__name">Эконом-доставка</span>
                      <span class="text__duration">от 5 до 9 дней</span>
                    </div>
                    <svg width="53" height="25" viewBox="0 0 53 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.972 23.3332C15.9491 23.3332 18.3625 20.9454 18.3625 17.9998C18.3625 15.0543 15.9491 12.6665 12.972 12.6665C9.99493 12.6665 7.58154 15.0543 7.58154 17.9998C7.58154 20.9454 9.99493 23.3332 12.972 23.3332Z" stroke="black" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M39.9246 23.3332C42.9017 23.3332 45.3151 20.9454 45.3151 17.9998C45.3151 15.0543 42.9017 12.6665 39.9246 12.6665C36.9476 12.6665 34.5342 15.0543 34.5342 17.9998C34.5342 20.9454 36.9476 23.3332 39.9246 23.3332Z" stroke="black" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M2.19141 2C2.19141 2.70725 2.75933 3.38552 3.77023 3.88562C4.78114 4.38572 6.15222 4.66667 7.58185 4.66667H45.315C46.7446 4.66667 48.1157 4.38572 49.1266 3.88562C50.1375 3.38552 50.7054 2.70725 50.7054 2" stroke="black" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <div class="shipping-item" data-deliver="Обычная доставка" @click="deliverMethod">
                    <div class="shipping-item__text">
                      <span class="text__name">Обычная доставка</span>
                      <span class="text__duration">от 3 до 5 дней</span>
                    </div>
                    <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0)">
                        <path d="M24.7287 6.40014C22.554 6.36814 22.554 9.63214 24.7287 9.60014H29.5543V13.6513L20.537 21.1201L17.4036 12.8001H18.2947C20.4694 12.8321 20.4694 9.56814 18.2947 9.60014H11.8606C9.68594 9.56814 9.68594 12.8321 11.8606 12.8001H13.9581L16.8245 20.4001C15.2862 19.6217 13.5866 19.2108 11.8606 19.2001C5.66145 19.2001 0.601074 24.2337 0.601074 30.4001C0.601074 36.5665 5.66145 41.6001 11.8606 41.6001C18.0598 41.6001 23.1202 36.5665 23.1202 30.4001C23.1202 28.2561 22.4768 26.2689 21.4152 24.5633L30.4904 17.0433L31.9799 20.7553C28.6213 22.7009 26.3372 26.2753 26.3372 30.4001C26.3372 36.5665 31.3976 41.6001 37.5968 41.6001C43.796 41.6001 48.8564 36.5665 48.8564 30.4001C48.8564 24.2337 43.796 19.2001 37.5968 19.2001C36.6864 19.2001 35.8146 19.3377 34.9653 19.5425L32.7713 14.0865V8.00014C32.7713 7.57579 32.6018 7.16882 32.3002 6.86877C31.9985 6.56871 31.5894 6.40014 31.1628 6.40014H24.7287ZM11.8606 22.4001C13.6823 22.4046 15.4476 23.0291 16.8631 24.1697L10.8312 29.1681C9.1873 30.5345 11.243 32.9921 12.8901 31.6321L18.922 26.6305C19.5268 27.7569 19.9032 29.0305 19.9032 30.4001C19.9032 34.8385 16.3227 38.4001 11.8606 38.4001C7.39864 38.4001 3.8181 34.8385 3.8181 30.4001C3.8181 25.9617 7.39864 22.4001 11.8606 22.4001ZM37.5968 22.4001C42.0588 22.4001 45.6394 25.9617 45.6394 30.4001C45.6394 34.8385 42.0588 38.4001 37.5968 38.4001C33.1348 38.4001 29.5543 34.8385 29.5543 30.4001C29.5543 27.5937 30.9923 25.1457 33.1734 23.7185L36.1009 30.9953C36.8923 32.9889 39.897 31.7953 39.0927 29.8049L36.1717 22.5409C36.6317 22.4641 37.1078 22.4001 37.5968 22.4001Z" fill="black"/>
                      </g>
                      <defs>
                        <clipPath id="clip0">
                          <rect width="48.2553" height="48" fill="white" transform="translate(0.601074)"/>
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="shipping-item" data-deliver="Экспресс доставка" @click="deliverMethod">
                    <div class="shipping-item__text">
                      <span class="text__name">Экспресс-доставка</span>
                      <span class="text__duration">от 1 до 2 дней</span>
                    </div>
                    <svg width="47" height="32" viewBox="0 0 47 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.202148 0V2.875H27.8072V24.4375H18.8631C18.2151 21.9664 15.969 20.125 13.2782 20.125C10.5874 20.125 8.34127 21.9664 7.69328 24.4375H6.01373V17.25H3.10794V27.3125H7.69328C8.34127 29.7836 10.5874 31.625 13.2782 31.625C15.969 31.625 18.2151 29.7836 18.8631 27.3125H30.9396C31.5876 29.7836 33.8338 31.625 36.5245 31.625C39.2153 31.625 41.4615 29.7836 42.1095 27.3125H46.6948V15.5882L46.6033 15.3626L43.6975 6.73756L43.3822 5.75H30.7129V0H0.202148ZM1.65504 5.75V8.625H14.7311V5.75H1.65504ZM30.7129 8.625H41.2915L43.789 15.9922V24.4375H42.1095C41.4615 21.9664 39.2153 20.125 36.5245 20.125C33.8338 20.125 31.5876 21.9664 30.9396 24.4375H30.7129V8.625ZM3.10794 11.5V14.375H11.8253V11.5H3.10794ZM13.2782 23C14.9011 23 16.184 24.2693 16.184 25.875C16.184 27.4807 14.9011 28.75 13.2782 28.75C11.6553 28.75 10.3724 27.4807 10.3724 25.875C10.3724 24.2693 11.6553 23 13.2782 23ZM36.5245 23C38.1474 23 39.4303 24.2693 39.4303 25.875C39.4303 27.4807 38.1474 28.75 36.5245 28.75C34.9016 28.75 33.6187 27.4807 33.6187 25.875C33.6187 24.2693 34.9016 23 36.5245 23Z" fill="black"/>
                    </svg>
                  </div>
                </div>
                <div class="cart-sidebar__action">
                  <router-link to="/Cart/Checkout" :class="{
                    'disabled': $store.state.shippingMethod.length === 0
                  }">
                    <my-button
                        class="back-button"
                        theme="primary"
                        size="l"
                    >Оформить заказ
                      <icon-order class="icon-order" />
                    </my-button>
                  </router-link>
                </div>
              </section>
            </aside>
            <!--     ////////////////////   -->
  </div>
        <div class="cart-block__footer">
          <span class="cart-block__footer-left">Общий счёт:</span>
          <span class="cart-block__footer-right">{{ cart_total_sum }} руб.</span>
        </div>
      </container>
    </template>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
import IconOrder from "@/components/icons/IconOrder";
import IconDelete from "@/components/icons/IconDelete";
import IconBase from "@/components/icons/IconBase";
import MyButton from "@/components/Button";

export default {
  name: 'cart',
  components: {
    Breadcrumbs,
    Container,
    MyButton,
    IconOrder,
    IconDelete,
    IconBase,
  },
  data() {
    return {
      shipping: '',
    }
  },
  mounted() {
    document.title = 'КОРЗИНА | STAVMUSICSTORE';

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
  computed: {
    cart_total_sum() {
      let total = 0;
      this.$store.state.cart.items.map((item) => {
        total += (item.product.price * item.quantity);
      })
      return total;
    }
  },
  methods: {
    deleteFromCart(e) {
      this.$store.commit('deleteFromCart', e)
    },
    backToShopping() {
      this.$router.push({name: 'catalog'});
    },
    deliverMethod(e) {
      const deliverOptions = document.querySelectorAll('.shipping-item');
      deliverOptions.forEach(i => i.classList.remove('active'));
      e.target.classList.add('active');
      console.log(e.target.dataset.deliver);
      this.$store.commit('setState', {
        key: 'shippingMethod',
        value: e.target.dataset.deliver
      })
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.disabled {
  pointer-events: none;
  position: relative;
  display: block;
  border: none;

  &:after {
    content: "Укажите способ доставки";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5E3C680;
    backdrop-filter: blur(5px) contrast(50%);
    font-weight: 600;
    font-size: 23px;
    @include fSize(22px, 20px, 18px);
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.empty-cart {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background: no-repeat url('/demo/bag.svg') 50% center/contain;
}

.cart-block {
  min-height: 80vh;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
  }
  .container {
    margin-top: 55px;
  }
  .cart-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 375px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 75px;
    @media (max-width: $desktop-l - 1) {
      gap: 0 20px;
      grid-template-columns: 1fr 300px;
    }

    @media (max-width: $desktop-m - 1) {
      gap: 0 20px;
      grid-template-columns: 1fr 250px;
    }

    @media (max-width: $desktop-s - 1) {
      grid-template-columns: 1fr !important;
    }
  }

  .cart-block__footer {
    width: 100%;
    border-top: 1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 24px;
    @include fSize(22px, 18px, 16px);
    line-height: 28px;
    color: #291C15;

    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }
  }
}

.cart-block__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 20px;

  @media (max-width: $desktop-l - 1) {
    gap: 0;
  }

  @media (max-width: $desktop-m - 1) {
    gap: 0;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr;
  }
}

.cart-item {
  width: 100%;
  min-height: 134px;
  background: #FFF;
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-between;
  transition: all .25s ease-in-out;

  &:hover {
    -webkit-box-shadow: 0px 5px 20px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 20px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 20px 4px rgba(34, 60, 80, 0.2);
    margin: 21px 0 20px 10px;

    @media (max-width: $desktop-s - 1) {
     margin: 0;
    }
  }

  @media (max-width: $desktop-l - 1) {
    margin: 20px 0 0 0;
  }

  @media (max-width: $desktop-m - 1) {
    min-height: 98px;
    margin: 20px 0 0 0;
  }

  @media (max-width: $desktop-s - 1) {
    min-height: 90px;
    flex-direction: column;
  }

  .cart-item__image {
    flex: 0 1 121px;
    @media (max-width: $desktop-s - 1) {
      flex: 0 1 255px;
    }

  }

  .cart-item__content {
    flex: 1 1 65%;
    margin: 23px 36px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $desktop-s - 1) {
      display: flex;
      flex-direction: column;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      @include fSize(22px, 18px, 16px);
    }
    .content__title {
      margin-top: 4px;
      font-weight: 500;
      font-size: 21px;
      max-width: 380px;
      line-height: 100%;
      @include fSize(19px, 18px, 16px);
    }

    .content__available {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #00CC93;
      @include fSize(15px, 15px, 13px);
    }

    .content__price {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      text-align: center;
      @include fSize(15px, 15px, 13px);
    }

    .cart-item__counter {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #D7901B;
      text-align: center;
      margin-right: 70px;

      @include fSize(15px, 15px, 13px);

      @media (max-width: $desktop-s - 1) {
       margin-right: 0;
      }
    }

    .content__subtitle {
      font-size: 16px;
      @include fSize(15px, 15px, 13px);
      line-height: 140%;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .cart-item__tools {
    cursor: pointer;
    position: relative;
    max-width: 136px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7901B40;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);

    @media (max-width: $desktop-s - 1) {
      max-width: 100%;
      height: 40%;
    }

    .icon-delete path {
      transition: 0.24s linear;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #DF6665;
      top: 0;
      left: -100%;
      transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }

    .icon-delete {
      z-index: 3;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .cart-item__tools:hover::before {
      left: 0;
      transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
    .cart-item__tools:hover {
      &::before {
        left: 0;
        transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
      }
      path {
        fill: white;
      }
    }
  }

  .icon-add {
    margin-left: 3px;
    path {
      transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
  }

  .button:hover .icon-add path {
    fill: white;
  }

  .button span {
    font-weight: 600;
  }
}

//CART-SIDEBAR-SECTION-STYLES

.cart-sidebar {
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  width: 375px;
  min-height: calc(100vh - 130px - 50px);

  @media (max-width: $desktop-l - 1) {
    width: 300px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 248px;
  }

  @media (max-width: $desktop-s - 1) {
    width: 100%;
  }
}

.cart-sidebar__section {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

  .cart-sidebar__action {
    border-top: 1px solid black;
    padding: 20px 0;

    .button.primary {
      width: 100%;
    }
  }

  .cart-sidebar__shipping {
    border-top: 1px solid #000000;
    margin-top: 16px;
  }

  .cart-sidebar__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: #291C15;
    @include fSize(20px, 16px, 13px);
  }
}

.cart-sidebar__section:last-child {
  padding-bottom: 0;
}

.cart-sidebar__section--down {
  margin-top: auto;
}

.cart-sidebar__section--footer {
  padding-top: 31px;
  padding-bottom: 77px;
  border-top: 1px solid #000000;

  @media (max-width: $desktop-m - 1) {
    padding-bottom: 83px;
  }
}

.cart-sidebar__nav ul li {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.cart-sidebar__nav ul li.active {
  color: black;
}

.cart-sidebar__nav ul li:last-child {
  margin-bottom: 0;
}

.cart-sidebar__text {
  font-size: 15px;
  line-height: 130%;
  color: $color-2;

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.cart-sidebar__text p {
  margin-bottom: 1.2em;
}

.cart-sidebar__text p:last-child {
  margin-bottom: 0;
}

.cart-grid-header {
  margin-bottom: 35px;
  padding-top: 20px;
  border-bottom: 1px solid black;
  min-height: 65px;

  ul {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @media (max-width: $desktop-s - 1) {
      display: flex;
      flex-direction: column;

      & li {
        margin: 5px 0;
      }
    }

    .list-name-item {
      flex: 0 1 28%;
    }
  }
}

.icon-order {
  margin-left: 10px;
  path {
    transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}

.button:hover .icon-order path {
  fill: white;
}

.cart-sidebar__shipping {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;


  .promocode {
    padding: 10px 8px;
    width: 100%;
    margin: 20px 0;
    font-size: 18px;
    border: 1px solid #000000;
    text-align: left;
    text-transform: uppercase;
    transition: all 0.2s ease-out;

    &:focus {
      background-color: #D7901B20;
    }
  }

  .shipping-item {
    width: 100%;
    padding: 30px 25px;
    border: 1px solid black;
    margin: 20px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: all .25s ease-out;
    cursor: pointer;

    @media (max-width: $desktop-m - 1) {
      padding: 15px 10px;
      margin: 10px 0;
    }

    &:last-child {
      margin-bottom: 50px;
    }

    &:first-child {
      margin-top: 55px;
    }

    &:hover {
      box-shadow: -9px -9px 0 black;
      background-color: #D7901B40;
    }

    &.active {
      box-shadow: -9px -9px 0 black;
      background-color: #D7901B40;
    }

    .shipping-item__text {
      text-align: left;
      pointer-events: none;
      display: flex;
      flex-flow: column;
      .text__name {
        font-weight: 500;
        font-size: 19px;
        @include fSize(19px, 16px, 13px);
        line-height: 21px;
        color: #000000;
        margin: 3px 0;
      }
      .text__duration {
        font-weight: 500;
        font-size: 16px;
        @include fSize(16px, 14px, 11px);
        line-height: 18px;
        color: #A4A4A4;
      }
    }
  }
}
</style>