<template>
  <div class="catalog-block">
    <Breadcrumbs></Breadcrumbs>
    <container mod="wide">
      <h1>Каталог<span class="items_count"> ({{ $store.getters['entities/allProducts'].length }} шт.) </span></h1>
      <div class="catalog-grid">
        <filtersSidebar v-if="!$store.state.isTablet"></filtersSidebar>
        <div class="catalog-block__items">
          <div class="catalog-item"
               v-for="(item, idx) in $store.getters['entities/allProducts']"
               :key="idx"
          >
            <div class="catalog-item__image"
                 :style="{ background: `no-repeat url(${item.get_thumbnail}) 50% center/cover` }"></div>
            <div class="catalog-item__content">
              <div>
                <span class="content__subtitle">Гитары</span>
                <router-link :to="item.get_absolute_url">
                  <h2 class="content__title">{{ item.name }}</h2>
                </router-link>
              </div>
              <span class="content__available">
                {{ item.available ? "В наличии" : "Нет в наличии" }}
              </span>
              <span class="content__price">
                Цена: {{ item.price }} руб.
              </span>
              <div class="catalog-item__tools">
                <router-link :to="item.get_absolute_url">
                  <my-button
                      class="back-button"
                      theme="primary"
                      size="s"
                  >
                    ПОДРОБНЕЕ
                  </my-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </container>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
import filtersSidebar from "@/components/filtersSidebar";
import MyButton from "@/components/Button";

export default {
  components: {
    Breadcrumbs,
    Container,
    filtersSidebar,
    MyButton
  },
  data() {
    return {
      product: {},
      quantity: 1

    }
  },
  methods: {

  },
  async mounted() {
    document.title = 'КАТАЛОГ | STAVMUSICSTORE'

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });

    await this.$store.dispatch('entities/getProducts', null, {root: true});
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.catalog-block {
  min-height: 80vh;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
  }
  .container {
    margin-top: 55px;
  }
  .catalog-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 244px 1fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 30px;
    @media (max-width: $desktop-m - 1) {
      gap: 0;
    }
    @media (max-width: $desktop-s - 1) {
      grid-template-columns: 1fr !important;
    }
  }
}

.catalog-block__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  //justify-content: space-between;
  //align-items: flex-start;
  gap: 10px 20px;
  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr;
  }
}

.catalog-item {
  width: 100%;
  min-height: 284px;
  background: #FFF;
  margin: 0 20px 40px 20px;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-between;

  @media (max-width: $desktop-s - 1) {
    min-height: 210px;
    margin: 20px 0 !important;
  }

  .catalog-item__image {
    flex: 0 1 220px;
  }

  .catalog-item__content {
    flex: 1 1 65%;
    margin: 23px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      @include fSize(22px, 18px, 16px);
    }
    .content__title {
      margin-top: 4px;
    }

    .content__available {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #00CC93;
      @include fSize(15px, 15px, 13px);
    }

    .content__price {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      @include fSize(15px, 15px, 13px);
    }

    .content__subtitle {
      font-size: 16px;
      @include fSize(15px, 15px, 13px);
      line-height: 140%;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .catalog-item__tools {
    cursor: pointer;
    a {
      font-size: 20px;
      @include fSize(18px, 16px, 14px);
      svg {
        height: 20px;
      }
    }
  }

  .button span {
    font-weight: 600;
  }
}

.items_count {
  color: #A4A4A4;
  font-size: 19px;
  margin-left: 10px;
  @include fSize(18px, 18px, 16px);
  line-height: 25px;
}
</style>