<template>
  <div class="categories-block">
    <Breadcrumbs></Breadcrumbs>
    <container mod="wide">
      <h1>Категории</h1>
      <div class="categories-grid">
        <CategoriesSidebar :categories_list="categories_list"></CategoriesSidebar>
        <div class="categories-block__items">
          <div class="categories-item"
               v-for="(category_item, idx) in categories_list"
               :key="idx"
          >
            <div class="categories-item__image"
                 style="background: no-repeat url('/demo/cat.jpeg') 50% center/cover;"
            ></div>
            <div class="categories-item__content">
              <h2 class="content__title">{{ category_item.name }}</h2>
              <span class="content__counter">
              {{ category_item.products.length }} товар(ов)
            </span>
              <div class="categories-item__tools">
                <router-link :to="category_item.get_absolute_url" class="news-card__readmore">
                  Подробнее
                  <icon-base
                      :width="$store.state.isTablet ? 21 : 26"
                      :height="$store.state.isTablet ? 21 : 26"
                  ><icon-union
                  /></icon-base>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </container>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
import CategoriesSidebar from "@/components/CategoriesSidebar";
import IconBase from "@/components/icons/IconBase";
import IconUnion from "@/components/icons/IconUnionUp";
import {getCategories} from "@/API/entities";

export default {
  components: {
    Breadcrumbs,
    Container,
    CategoriesSidebar,
    IconBase,
    IconUnion,
  },
  data() {
    return {
      categories_list: []
    }
  },
  methods: {
    async getCategories() {
      await getCategories()
          .then(res => {
            this.categories_list = res.data;
          })
          .catch(error => {
            console.error(error);
          })
    },
  },
  mounted() {
    this.getCategories()

    document.title = "КАТЕГОРИИ | STAVMUSICSTORE";

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.categories-block {
  min-height: 80vh;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
  }
  .container {
    margin-top: 55px;
  }
  .categories-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 244px 1fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 30px;
    @media (max-width: $desktop-m - 1) {
      gap: 0;
    }
    @media (max-width: $desktop-s - 1) {
      grid-template-columns: 190px 1fr;
    }
  }
}

.categories-block__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  //justify-content: space-between;
  //align-items: flex-start;
  gap: 10px 20px;
  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr;
  }
}

.categories-item {
  width: 100%;
  min-height: 284px;
  background: #FFF;
  margin: 0 20px 40px 20px;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-between;

  @media (max-width: $desktop-s - 1) {
    min-height: 210px;
  }

  .categories-item__image {
    flex: 0 1 220px;
  }

  .categories-item__content {
    flex: 1 1 65%;
    margin: 23px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      @include fSize(22px, 18px, 16px);
    }
    .content__counter {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: rgba(0, 0, 0, 0.6);
      @include fSize(15px, 15px, 13px);
    }
  }
  .categories-item__tools {
    cursor: pointer;
    a {
      font-size: 20px;
      @include fSize(18px, 16px, 14px);
      svg {
        height: 20px;
      }
    }
  }
}
</style>