<template>
  <div class="checkout-block">
      <Breadcrumbs></Breadcrumbs>
      <container mod="wide">
        <h1>Оформить заказ</h1>
        <h3>Метод доставки: <strong>{{ shippingMethod }}</strong></h3>
        <div class="checkout-grid">
          <div>
            <div class="checkout-block__items">
              <div class="checkout-item"
                   v-for="(cart_item, i) in $store.state.cart.items"
                   :key="i"
              >
                <div class="checkout-item__image"
                     :style="{background: `no-repeat url('${cart_item.product.get_thumbnail}') 50% center/contain`}"
                ></div>
                <div class="checkout-item__content">
                  <router-link :to="cart_item.product.get_absolute_url">
                    <h2 class="content__title">{{ cart_item.product.name }}</h2>
                  </router-link>
                  <span class="checkout-item__counter">{{ cart_item.quantity }} шт.</span>
                  <span class="content__price">
                    {{ cart_item.product.price }} руб.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider">
        <h2 class="shipping-details__title">Заполните поля для доставки</h2>
        <form class="shipping-details">
          <div class="sfield">
            <label for="firstname">Имя*</label>
            <input type="text" class="textfield" id="firstname" name="firstname" placeholder="Иван" required v-model="first_name">
          </div>
          <div class="sfield">
            <label for="lastname">Фамилия*</label>
            <input type="text" class="textfield" id="lastname" name="lastname" placeholder="Иванов" required v-model="last_name">
          </div>
          <div class="sfield">
            <label for="address">Адрес*</label>
            <input type="address" class="textfield" id="address" name="address" placeholder="Ул 50 лет ВЛКСМ, д. 22, п.3, кв.98" required v-model="address">
          </div>
          <div class="sfield">
            <label for="zipcode">Почтовый индекс*</label>
            <input type="text" class="textfield" id="zipcode" name="zipcode" placeholder="355078" required v-model="zipcode">
          </div>
          <div class="sfield">
            <label for="email">Почта (email)*</label>
            <input type="email" class="textfield" id="email" name="email" placeholder="admin@mail.ru" required v-model="email">
          </div>
          <div class="sfield">
            <label for="phone">Телефон*</label>
            <input type="phone" class="textfield" id="phone" name="phone" placeholder="+7 999 379 17 59" required v-model="phone">
          </div>
          <div class="sfield">
            <label for="place">Город*</label>
            <input type="text" class="textfield" id="place" name="place" placeholder="Ставрополь" required v-model="place">
          </div>
          <button class="submit-order" @click.prevent="submitForm"><span>Оформить заказ</span></button>
        </form>
        <div class="checkout-block__footer">
          <span class="checkout-block__footer-left">Общий счёт:</span>
          <span class="checkout-block__footer-right">{{ cart_total_sum }} руб.</span>
        </div>
      </container>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
// import IconOrder from "@/components/icons/IconOrder";
// import MyButton from "@/components/Button";
import {checkout} from "@/API/entities";

export default {
  name: 'Checkout',
  components: {
    Breadcrumbs,
    Container,
    // MyButton,
    // IconOrder,
  },
  data() {
    return {
      cart: {
        items: [],
      },
      stripe: {},
      shippingMethod: '',
      first_name: '',
      last_name: '',
      email: '',
      phone: '',
      address: '',
      zipcode: '',
      place: '',
      errors: [],
    }
  },
  mounted() {
    this.cart = this.$store.state.cart;
    this.shippingMethod = this.$store.state.shippingMethod;

    document.title = 'ОФОРМЛЕНИЕ ЗАКАЗА || STAVMUSICSTORE';

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
  computed: {
    cart_total_sum() {
      let total = 0;
      this.$store.state.cart.items.map((item) => {
        total += (item.product.price * item.quantity);
      })
      return total;
    }
  },
  methods: {
    backToShopping() {
      this.$router.push({name: 'catalog'});
    },
    async submitForm() {
      const items = [];

      for (let i = 0; i < this.cart.items.length; i++) {
        const item = this.cart.items[i];
        const obj = {
          product: item.product.id,
          quantity: item.quantity,
          price: item.product.price * item.quantity
        };
        items.push(obj);
      }

      const formdata = {
        shipping_method: this.shippingMethod,
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        phone: this.phone,
        address: this.address,
        zipcode: this.zipcode,
        place: this.place,
        items: items
      };

      console.log(formdata);
      const res = await checkout(formdata);
      console.log(res);

      this.$store.commit('CLEAR_CART');

      await this.$router.push({name: 'Success'});
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.submit-order {
  height: 46px;
  min-width: 100%;
  margin: 15px auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  border: 2px solid black;
  transition: all .24s ease-in;

  &:hover {
    background-color: #000000;
    color: #fff;
  }

  & > span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.shipping-details__title {
  font-size: 25px;
  @include fSize(25px, 22px, 18px);
}

.divider {
  margin: 20px 0;
}

.checkout-block {
  min-height: 80vh;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
  }
  .container {
    margin-top: 55px;
  }
  .checkout-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 75px;

    @media (max-width: $desktop-m - 1) {
      gap: 0 20px;
      margin-top: 15px;
    }
  }

  .checkout-block__footer {
    width: 100%;
    border-top: 1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 24px;
    @include fSize(22px, 18px, 16px);
    line-height: 28px;
    color: #291C15;

    &-left {
      text-align: left;
    }

    &-right {
      text-align: right;
    }
  }
}

.checkout-block__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 20px;

  @media (max-width: $desktop-l - 1) {
    gap: 0;
  }

  @media (max-width: $desktop-m - 1) {
    gap: 0;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr;
  }
}

.checkout-item {
  width: 100%;
  min-height: 134px;
  background: #FFF;
  margin: 20px 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-between;
  transition: all .25s ease-in-out;

  &:hover {
    -webkit-box-shadow: 0px 5px 20px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 20px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 20px 4px rgba(34, 60, 80, 0.2);
    margin: 21px 0 20px 10px;
  }

  @media (max-width: $desktop-l - 1) {
    margin: 20px 0 0 0;
  }

  @media (max-width: $desktop-m - 1) {
    min-height: 98px;
    margin: 20px 0 0 0;
  }

  @media (max-width: $desktop-s - 1) {
    min-height: 90px;
  }

  .checkout-item__image {
    flex: 0 1 121px;
  }

  .checkout-item__content {
    flex: 1 1 65%;
    margin: 23px 36px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      @include fSize(22px, 18px, 16px);
    }
    .content__title {
      margin-top: 4px;
      font-weight: 500;
      font-size: 21px;
      max-width: 380px;
      line-height: 100%;
      @include fSize(19px, 18px, 16px);
    }

    .content__available {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #00CC93;
      @include fSize(15px, 15px, 13px);
    }

    .content__price {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      text-align: center;
      @include fSize(15px, 15px, 13px);
    }

    .checkout-item__counter {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #D7901B;
      text-align: center;
      margin-right: 70px;
      @include fSize(15px, 15px, 13px);
    }

    .content__subtitle {
      font-size: 16px;
      @include fSize(15px, 15px, 13px);
      line-height: 140%;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .checkout-item__tools:hover::before {
      left: 0;
      transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
    .checkout-item__tools:hover {
      &::before {
        left: 0;
        transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
      }
      path {
        fill: white;
      }
    }
  }

  .icon-add {
    margin-left: 3px;
    path {
      transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
  }

  .button:hover .icon-add path {
    fill: white;
  }

  .button span {
    font-weight: 600;
  }
}

.shipping-details {
  display: flex;
  margin: 40px 0;
  padding: 20px 10px;
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;


  .sfield {
    display: flex;
    flex-flow: column nowrap;
    min-width: 30%;

    @media (max-width: 536px) {
      width: 100%;
    }
  }

  .textfield {
    padding: 10px 8px;
    width: auto;
    margin: 20px 0;
    font-size: 18px;
    border: 1px solid #000000;
    text-align: left;
    transition: all 0.2s ease-out;

    &:focus {
      background-color: #D7901B20;
    }
  }

}
</style>