<template>
  <div class="contact-block">
    <Breadcrumbs></Breadcrumbs>
    <container>
      <Contacts></Contacts>
    </container>
  </div>
</template>

<script>

import Container from "@/components/Container";
import Breadcrumbs from "@/components/Breadcrumbs";
import Contacts from "@/components/Contacts";

export default {
  name: 'Contact',
  components: {
    Container,
    Breadcrumbs,
    Contacts
  },
  computed: {

  },
  methods: {

  },
  mounted() {
    document.title = 'КОНТАКТЫ | STAVMUSICSTORE';

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

</style>
