<template>
  <div>
    <div
      class="main-background"
      :style="`${backgroundColor}`"
    ></div>
    <home-section-first></home-section-first>
    <home-section-news></home-section-news>
    <home-section-about-school></home-section-about-school>
    <home-section-cost></home-section-cost>
    <home-section-mentors></home-section-mentors>
    <home-section-about-qatar></home-section-about-qatar>
  </div>
</template>

<script>
import HomeSectionFirst from "@/components/HomeSectionFirst";
import HomeSectionNews from "@/components/HomeSectionNews";
import HomeSectionAboutSchool from "@/components/HomeSectionAboutSchool";
import HomeSectionCost from "@/components/HomeSectionCost";
import HomeSectionMentors from "@/components/HomeSectionMentors";
import HomeSectionAboutQatar from "@/components/HomeSectionAboutQatar";

export default {
  components: {
    HomeSectionFirst,
    HomeSectionNews,
    HomeSectionAboutSchool,
    HomeSectionCost,
    HomeSectionMentors,
    HomeSectionAboutQatar,
  },
  computed: {
    backgroundColor() {
      // this.$store.state.visibleSection === "main-screen-cost"
      return this.$store.state.visibleSection === "main-screen-news"
        ? "background: linear-gradient(90deg, #FFAFBD 0%, #FFC3A0 100%); opacity: 1;"
        : this.$store.state.visibleSection === "main-screen-about"
        ? "background: linear-gradient(90deg, #FFAFBD 0%, #FFC3A0 100%); opacity: 0;"
        : this.$store.state.visibleSection === "main-screen-cost"
        ? "background: #FFB981;opacity: 0.2;"
        : this.$store.state.visibleSection === "main-screen-mentors"
        ? "background: #FFB981;opacity: 1;"
        : this.$store.state.visibleSection === "main-screen-about-qatar"
        ? "background: #F5EDE0;opacity: 1;"
        : "background: white;";
    },
  },
  methods: {
    detectScreen() {
      const visibleSections = [];

      this.$store.state.sideMenu.forEach((item) => {
        if (
          document.getElementById(item.id) &&
          Math.round(
            document.getElementById(item.id).getBoundingClientRect().top
          ) <=
            window.innerHeight / 2
        ) {
          visibleSections.push(item.id);
        }
      });

      if (
        visibleSections.length &&
        visibleSections[visibleSections.length - 1] !==
          this.$store.state.visibleSection
      ) {
        this.$store.commit("setState", {
          key: "visibleSection",
          value: visibleSections[visibleSections.length - 1],
        });
      }

      requestAnimationFrame(() => this.detectScreen());
    },
  },
  mounted() {
    this.$store.commit("setState", {
      key: "sideBar",
      value: true,
    });

    this.detectScreen();
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}
</style>
