<template>
  <div class="item-block">
    <div class="main-background">
    </div>
    <Breadcrumbs :cn="product.name"></Breadcrumbs>
    <container>
      <div class="item-container" :style="{ background: 'no-repeat url(' + product.get_image + ') 50% center/cover'}">

      </div>
      <div class="item-head">
        <span class="item-head__info">
         {{ product.brand + " / " +product.name }} / Гарантия: 1 год
        </span>
        <h1 class="item-head__title">{{ product.name }}</h1>
        <span class="content__available">{{ product.available ? "В наличии" : "Нет в наличии" }}</span>
        <span class="price_in_rub">{{ this.product.price }} ₽</span>
        <hr class="item-head__divider">
        <p class="item-head__subtitle">
          {{ product.short_description }}
        </p>
        <my-button
            class="add-button"
            theme="primary"
            size="m"
            @click="addToCart"
        >Добавить в корзину
          <icon-base
              :width="$store.state.isTablet ? 20 : 30"
              :height="$store.state.isTablet ? 20 : 30"
              class="icon-add"
          >
            <icon-add />
          </icon-base>
        </my-button>
      </div>
      <div class="tabs-control">
        <div class="tabs-control__item active" data-tabname="description" @click='showTab'>Описание</div>
        <div class="tabs-control__item" data-tabname="specification" @click='showTab'>Характеристики</div>
        <div class="tabs-control__item" data-tabname="available" @click='showTab'>Наличие</div>
      </div>
      <div class="tabs-content">
        <div class="tabs-item-content show-content" data-tabname="description">
          <h1>О товаре</h1>
          <p>
            {{ product.about }}
          </p>
        </div>
        <div class="tabs-item-content" data-tabname="specification">
          <h1>Характеристики</h1>
          <div v-html="product.specification">
          </div>
          <figure>
            <iframe class="item-video" :src="product.video_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
          </figure>
        </div>
        <div class="tabs-item-content" data-tabname="available">
          <h1>Наличие</h1>
          <div class="item-content__memo">
            <h3>
              По данному адресу товар(а)
              <span :class="{
                'true_available': product.available,
                'false_available': !product.available,
              }">
                {{ product.available ? 'имеется в наличии' : 'нет в наличии'}}
              </span>
            </h3>
            <p>
              <img src="@/assets/images/map.png" width="100%" height="auto">
            </p>
          </div>
        </div>
        <div class="tabs-item-content" data-tabname="reviews">
          <h1>Отзывы</h1>
        </div>
      </div>
    </container>
  </div>
</template>

<script>
import Container from "@/components/Container";
import Breadcrumbs from "@/components/Breadcrumbs";
import {getProductBySlug} from "@/API/entities";
import IconBase from "@/components/icons/IconBase";
import IconAdd from "@/components/icons/IconAdd";
import MyButton from "@/components/Button";

export default {
  name: 'item',
  components: {
    Container,
    Breadcrumbs,
    IconBase,
    IconAdd,
    MyButton
  },
  data() {
    return {
      product: {},
      quantity: 1,
      currentitem: '',
      similarF: {
        id: '',
        value: ''
      },
      similarS: {
        id: '',
        value: ''
      },
    }
  },
  methods: {
    addToCart() {
      if (isNaN(this.quantity) || this.quantity < 1) {
        this.quantity = 1;
      }

      const item = {
        product: this.product,
        quantity: this.quantity
      };

      this.$store.commit('addToCart', item);
    },
    async getProduct() {
      const category_slug = this.$route.params.category_slug;
      const product_slug = this.$route.params.product_slug;
      console.log(product_slug, category_slug);
      await getProductBySlug(category_slug, product_slug)
        .then(res => {
          this.product = res.data;
          document.title = this.product.name.toUpperCase() + ' | STAVMUSICSTORE'
        })
        .catch(error => {
          console.error(error);
        })
    },
    showTab(e){
      let allTabs = document.querySelectorAll('.tabs-control__item');
      allTabs.forEach(i => i.classList.remove('active'));
      console.log(e.target.dataset.tabname);
      e.target.classList.toggle('active');
      this.hideTab(e.target.dataset.tabname);
    },
    hideTab(tabName) {
      let allTabsContent = document.querySelectorAll('.tabs-item-content');
      allTabsContent.forEach(i => {
        if (tabName === i.dataset.tabname) {
          i.classList.add('show-content');
        } else {
          i.classList.remove('show-content');
        }
      });
    }
  },
  computed: {
    // checkImg() {
    //   return this.currentitem.PREVIEW_PICTURE_SRC ? '' : 'margin: 10px auto;'
    // }
  },
  created () {
    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
  watch: {
  },
  mounted() {
    this.getProduct();
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";

.main-background {
  width: 100%;
  height: 100vh;
  background-color: #F8F6F3;
}

.item-block {
  background-color: #F8F6F3;
}

.item-container {
  position: relative;
  max-width: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 548px;
  margin: 20px auto auto auto;

  @media (max-width: $desktop-m - 1) {
    max-height: 407px;
  }

  @media (max-width: $desktop-s - 1) {
    max-height: 407px;
    max-width: 100%;
  }

  @media (max-width: $tablet - 1) {
    max-height: 277px;
  }

  @media (max-width: $mobile - 1) {
    max-height: 277px;
  }
}

.item-head__divider {
  margin: 20px 0;
}

.tabs-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 80%;
  margin: 10px auto;
  padding: 0;

  @media (max-width: $desktop-s - 1) {
    max-width: 100%;
  }

  @media (max-width: $tablet - 1) {
    flex-flow: column nowrap;
  }

  .tabs-control__item {
    padding: 25px 40px;
    font-size: 16px;
    width: 100%;
    background-color: #FFF1E6;
    margin: 0 2px;
    cursor: pointer;
    border-top: 4px solid transparent;
    transition: 0.2s ease-in;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    @media (max-width: $desktop-s - 1) {
      padding: 10px 15px;
    }

    &.active {
      border-top: 4px solid #E6AB49;
      background-color: #F5E3C6;
    }

    &:hover {
      background-color: #F5E3C6;
      color: #000000;
    }
  }
}

.tabs-content {
  max-width: 65%;
  margin: auto;

  figure {
   margin: 25px auto;
  }

  h1 {
    font-size: 40px;
    @include fSize(35px, 25px, 20px);
    margin-top: 20px;
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 8px 0;
    line-height: 150%;
    @media (max-width: $tablet - 1) {
      font-size: 16px;
    }
    @media (max-width: $mobile - 1) {
      font-size: 14px;
    }
  }

  .item-content__memo {
    background-color: rgba(200, 186, 163, 1);
    background-image: url('../assets/images/article_union.svg');
    background-position: bottom -80px right -120px;
    background-repeat: no-repeat;
    padding: 40px 50px;
    margin: 20px 0;
    color: #000000;
    @media (max-width: $tablet - 1) {
      padding: 13px 15px;
    }

    h3 {
      font-size: 22px;
      margin: 0 0 35px;
    }
  }
  @media (max-width: $desktop-m - 1) {
    margin: auto;
    max-width: 99%;
  }

  .tabs-item-content {
    width: 100%;
    padding: 30px 0;
    display: none;

    &.show-content {
      display: block;
    }

  }
}

.item-head {
  max-width: 80%;
  padding: 40px 96px;
  position: relative;
  margin: 0 auto 0 auto;
  background-color: #FFFFFF;
  min-height: 300px;

  @media (max-width: $desktop-s - 1) {
    padding: 15px 30px;
    min-height: 150px;
    max-width: 100%;
  }

  @media (max-width: $tablet - 1) {
    padding: 15px 5px;
    min-height: 150px;
  }

  .content__available {
    color: #00CC93;
  }

  .item-head__info {
    font-size: 16px;
    @include fSize(16px, 15px, 13px);
  }

  .item-head__title {
    margin-top: 20px;
    font-size: 40px;
    @media (max-width: $desktop-s - 1) {
      font-size: 37px;
    }

    @media (max-width: $tablet - 1) {
      font-size: 6vw;
    }

  }

  .item-head__subtitle {
    font-size: 26px;
    @media (max-width: $desktop-s - 1) {
      font-size: 18px;
    }

    @media (max-width: $tablet - 1) {
      font-size: 3.4vw;
    }
  }

  .icon-add {
    margin-left: 3px;
    path {
      transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
  }

  .button:hover .icon-add path {
    fill: white;
  }

  .button span {
    font-weight: 600;
  }

}


.item-block__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $desktop-l - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $desktop-m - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.item-block__cell {
  margin: 10px;
}

.similar-headings {
  margin-top: 140px;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
  }
}

.item_article_img {
  width: 100%;
  height: auto;
}
.item-video {
  width: 100%;
  min-height: 400px;
}

.price_in_rub {
  font-size: 29px;
  font-weight: bold;
  margin: 15px 0;
  display: block;
}

.true_available {
  color: #018032;
}

.false_available {
  color: #974854;
}

.add-button {
  width: 100%;
  margin: 25px auto;
}

</style>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.tabs-content {
  li {
    margin: 15px 0 0 10px;
    line-height: 1.5;
    font-size: 20px;
    @media (max-width: $tablet - 1) {
      font-size: 16px;
    }
    @media (max-width: $mobile - 1) {
      font-size: 14px;
    }
  }

  ul li::before {
    content: "";
    display: inline-block;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 10px;
    height: 10px;
    padding-left: 5px;
    margin-right: 5px;
    background-color: #000000;
  }
}

</style>