<template>
  <div class="news-block">
    <div class="main-background">
    </div>
    <Breadcrumbs></Breadcrumbs>
    <container>
      <div class="relevant-news">
        <h1>Актуальные новости</h1>
        <div class="news-block__grid">
          <div
              class="news-block__cell"
              v-for="(item, id) in $store.state.entities.news"
              :key="id"
          >
            <news-card
                size="l"
                :id="item.id.toString()"
                :image="item.news_picture_url"
                :date="item.date_added.slice(0,10)"
                :tag="item.topic"
                :heading="item.name"
                :text="item.text"
                :video="
              item.news_video_url !== null
                ? item.news_video_url
                : ''
            "
            ></news-card>
          </div>
        </div>
      </div>
      <div class="pagination-block">
        <my-button
            v-if="hasNewNews"
            @click="getNews()"
            class="back-button"
            theme="primary"
            size="xl"
        >Показать ещё</my-button>
      </div>
    </container>
  </div>
</template>

<script>
import Container from "@/components/Container";
import Breadcrumbs from "@/components/Breadcrumbs";
import NewsCard from "@/components/NewsCard";
import MyButton from "@/components/Button";

export default {
  name: 'News',
  components: {
    Container,
    Breadcrumbs,
    NewsCard,
    MyButton,
  },
  data() {
    return {
      currentPage: 1,
      newsList: null,
      pageCounter: 0,
      stopQ: false,
    }
  },
  methods: {
    async getNews() {
      if(this.stopQ) {
        return false;
      }
      const res = await fetch(
          process.env.NODE_ENV === "development"
              ? "news.json"
              : "https://studyarabic.ru/include/get_news_list.php?page=${this.currentPage}`"
      );
      const data = await res.json();
      if (!this.newsList) {
        this.newsList = data;
        this.pageCounter = +this.newsList[0].NEWS_COUNT
      } else {
        if (this.newsList.length === this.pageCounter) {
          this.stopQ = true;
          return false;
        }
        data.forEach(item => {
          this.newsList.push(item);
        })
      }
      this.currentPage += 1;
    },
  },
  async beforeMount() {
    await this.$store.dispatch('entities/getNews', null, {root: true});
  },
  mounted() {
    document.title = 'НОВОСТИ | STAVMUSICSTORE';

    this.getNews();
    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
  computed: {
    hasNewNews() {
      if (this.newsList) {
        return this.pageCounter !== this.newsList.length;
      }
      return false;
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables";

.main-background {
  width: 100%;
  height: 100vh;
  background-color: #F8F6F3;
}

.news-block {
  background-color: #F8F6F3;
  padding-bottom: 100px;
}

.news-block__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $desktop-l - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $desktop-m - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.news-block__cell {
  margin: 10px;
}

.relevant-news {
  margin-top: 40px;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
  }
}

.pagination-block {
  margin: 50px auto 20px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}
</style>