<template>
  <div class="news-block">
    <div class="main-background">
    </div>
    <Breadcrumbs v-if="currentNews.name" :cn="currentNews.name"></Breadcrumbs>
    <container>
      <div class="news-container" :style="`background-image: url(${currentNews.news_picture_url})`">
      </div>
      <div class="news-head">
          <span class="news-head__info" v-if="currentNews.date_added">
           {{ currentNews.date_added.substring(0, 10) }} | {{ currentNews.topic }}
          </span>
        <h1 class="news-head__title">{{ currentNews.name }}</h1>
        <hr class="news-head__divider">
      </div>
      <div class="news-content">
          <div>
            {{ currentNews.text }}
          </div>
        <hr class="news-head__divider">
        <figure v-if="currentNews.news_video_url">
          <iframe class="news-video" :src="currentNews.news_video_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
<!--          <figcaption>Обложка: Christina @ wocintechchat.com / Unsplash</figcaption>-->
        </figure>
<!--        <div v-html="currentNews.DETAIL_TEXT">-->
<!--        </div>-->
      </div>
    </container>
  </div>
</template>

<script>
import Container from "@/components/Container";
import Breadcrumbs from "@/components/Breadcrumbs";
// import NewsCard from "@/components/NewsCard";

export default {
  name: 'News',
  components: {
    Container,
    Breadcrumbs,
    // NewsCard
  },
  data() {
    return {
    }
  },
  methods: {
  },
  created () {
    this.$store.dispatch('entities/getNews', null, {root: true});

    document.title = 'ПОДРОБНЕЕ О НОВОСТИ | STAVMUSICSTORE';

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
  mounted () {
  },
  watch: {

  },
  computed: {
    currentNews () {
      return this.$store.state.entities.news[this.$route.params.guid];
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables";

.main-background {
  width: 100%;
  height: 100vh;
  background-color: #F8F6F3;
}

.news-block {
  background-color: #F8F6F3;
}

.news-container {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 548px;
  margin: 20px 0 0 0;

  @media (max-width: $desktop-m - 1) {
    max-height: 407px;
  }

  @media (max-width: $desktop-s - 1) {
    max-height: 407px;
  }

  @media (max-width: $tablet - 1) {
    max-height: 277px;
  }

  @media (max-width: $mobile - 1) {
    max-height: 277px;
  }
}

.news-head__divider {
  margin: 20px 0;
}

.news-head {
  max-width: 80%;
  padding: 40px 96px;
  position: relative;
  margin: -200px auto 0 auto;
  background-color: #FFFFFF;
  min-height: 300px;
  @media (max-width: $tablet - 1) {
    max-width: 92%;
    margin: -130px auto 0 auto;
  }

  .news-head__info {
    font-size: 16px;
  }

  .news-head__title {
    font-size: 60px;
    @media (max-width: $desktop-s - 1) {
      font-size: 37px;
    }

    @media (max-width: $tablet - 1) {
      font-size: 6vw;
    }

  }

  .news-head__subtitle {
    font-size: 26px;
    @media (max-width: $desktop-s - 1) {
      font-size: 18px;
    }

    @media (max-width: $tablet - 1) {
      font-size: 3.4vw;
    }
  }

  @media (max-width: $desktop-s - 1) {
    padding: 15px 30px;
    min-height: 150px;
  }
}


.news-block__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $desktop-l - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $desktop-m - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.news-block__cell {
  margin: 10px;
}

.similar-headings {
  margin-top: 140px;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
  }
}
</style>

<style lang="scss">
@import "@/assets/styles/variables";
.news-content {
  max-width: 65%;
  margin: auto;

  .news-content__memo {
    background-color: rgba(200, 186, 163, 1);
    background-image: url('../assets/images/article_union.svg');
    background-position: bottom -80px right -120px;
    background-repeat: no-repeat;
    padding: 40px 50px;
    margin: 20px 0;
    color: #000000;
    @media (max-width: $tablet - 1) {
      padding: 13px 15px;
    }
  }
  @media (max-width: $desktop-m - 1) {
    margin: auto;
    max-width: 99%;
  }

  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 8px 0;
    line-height: 150%;
    @media (max-width: $tablet - 1) {
      font-size: 16px;
    }
    @media (max-width: $mobile - 1) {
      font-size: 14px;
    }
  }

  li {
    margin: 15px 0 0 10px;
    line-height: 1.5;
    font-size: 20px;
    @media (max-width: $tablet - 1) {
      font-size: 16px;
    }
    @media (max-width: $mobile - 1) {
      font-size: 14px;
    }
  }

  ul li::before {
    content: "";
    display: inline-block;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 10px;
    height: 10px;
    padding-left: 5px;
    margin-right: 5px;
    background-color: #000000;
  }
}
.news_article_img {
  width: 100%;
  height: auto;
}
.news-video {
  width: 100%;
  min-height: 400px;
}
</style>