<template>
  <div>
    <div class="not-found">
      <div class="middle">
        <container class="not-found__container">
          <div class="not-found-content">
            <span class="back-err-title">
            404
          </span>
            <h1 class="not-found__title">Данная страница не найдена</h1>
            <div class="not-found__action">
              <my-button
                  @click="backToRoot()"
                  class="back-button"
                  theme="primary"
                  size="xl"
              >ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ</my-button
              >
            </div>
          </div>
        </container>
      </div>
    </div>
  </div>
</template>

<script>

import Container from "@/components/Container";
import MyButton from "@/components/Button";

export default {
  components: {
    Container,
    MyButton
  },
  name: 'NotFound',
  data(){
    return {

    }
  },
  methods: {
    backToRoot() {
      this.$router.push({name: 'Home'});
    }
  },
  mounted() {
    document.title = '404 | STAVMUSICSTORE'

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables";


.not-found__title {
  font-size: 80px;
  text-align: center;
  @media (max-width: $desktop-l - 1) {
    font-size: 70px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 42px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 42px;
  }
}

.not-found__action {
  margin: 30px auto;
  max-width: 450px;
  text-align: center;

  @media (max-width: $tablet - 1) {
    max-width: 337px;
  }

  @media (max-width: $mobile - 1) {
    max-width: 268px;
  }
}
.not-found-content {
  position: relative;
}

.not-found {
  display: table;
  margin: auto;
  height: 70vh;
  width: 100%;
}

.back-err-title {
  font-size: 500px;
  background: -webkit-linear-gradient(90deg, #FFAFBD 0%, #FFC3A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: -75%;
  opacity: 0.25;
  left: 18%;
  z-index: 1;
  @media (max-width: $desktop-l - 1) {
    font-size: 460px;
    left: 18%;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 300px;
    top: -80%;
    left: 27%;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 300px;
    left: 3%;
    top: -40%;
  }

  @media (max-width: $tablet - 1) {
    font-size: 40vw;
    left: 10%;
    top: -10%;
  }

  @media (max-width: $mobile - 1) {
    font-size: 40vw;
    left: 10%;
    top: -10%;
  }
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.back-button {
  z-index: 2;
  max-width: 450px;

  @media (max-width: $tablet - 1) {
    max-width: 337px;
  }

  @media (max-width: $mobile - 1) {
    max-width: 268px;
  }
}
</style>