<template>
  <div class="partners">
    <Breadcrumbs></Breadcrumbs>
    <container>
      <div class="partners-block">
        <PartnersSection
            v-for="(item, idx) in $store.state.entities.partners"
            :key="idx"
            link="#"
            :name="item.name"
            :desc="item.text"
            :image="item.partner_picture_url"
        ></PartnersSection>
      </div>
    </container>
  </div>
</template>

<script>
import PartnersSection from "@/components/PartnersSection";
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";

export default {
  components: {
    PartnersSection,
    Breadcrumbs,
    Container
  },
  data(){
    return {
      partners: [],
    }
  },
  methods: {
  },
  async beforeMount() {
    await this.$store.dispatch('entities/getPartners', null, {root: true});
  },
  mounted() {
    document.title = 'ПАРТНЁРЫ | STAVMUSICSTORE';

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
}
</script>

<style lang="scss" scoped>


.partners-block {
  display: grid;
  grid-template-columns: 50% 50%;
  @media (max-width: 1280px) {
    margin: 10px auto;
  }
  @media (max-width: 699px) {
    grid-template-columns: 100%;
  }
}

</style>