<template>
  <div class="profile-block">
      <Breadcrumbs></Breadcrumbs>
      <container mod="wide">
        <h1>Ваш профиль</h1>
        <div class="order-history">
          <h2>Ваша история заказов</h2>
          <div class="order-history-items">
            <table class="order-item ">
              <thead>
                <tr>
                  <th>Имя</th>
                  <th>Фамилия</th>
                  <th>Почта</th>
                  <th>Телефон</th>
                  <th>Адрес</th>
                  <th>Город</th>
                  <th>Почтовый индекс</th>
                  <th>Доставка</th>
                  <th>Общий чек</th>
                </tr>
              </thead>
              <tbody>
                <tr
                    :key="idx"
                    v-for="(order, idx) in orderList"
                >
                  <td>{{ order.first_name }}</td>
                  <td>{{ order.last_name }}</td>
                  <td>{{ order.email }}</td>
                  <td>{{ order.phone }}</td>
                  <td>{{ order.address }}</td>
                  <td>{{ order.place }}</td>
                  <td>{{ order.zipcode }}</td>
                  <td>{{ order.shipping_method }}</td>
                  <td>{{ order.paid_amount }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </container>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
import {getMyOrders} from "@/API/entities";

export default {
  name: 'Profile',
  components: {
    Breadcrumbs,
    Container,

  },
  data() {
    return {
      orderList: [],
    }
  },
  mounted() {
    document.title = 'ПРОФИЛЬ | STAVMUSICSTORE';

    this.orderHistory();

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
  computed: {

  },
  methods: {
    async orderHistory() {
      const res = await getMyOrders();
      this.orderList = res.data;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.profile-block {
  min-height: 80vh;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
  }
  .container {
    margin-top: 55px;
  }
}


.order-item {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.order-item td, .order-item th {
  border: 1px solid #ddd;
  padding: 10px 15px;
}

.order-item tr:nth-child(even){
  background-color: #f2f2f2;
}
.order-item tr:nth-child(odd){
  background-color: #FFFFFF;
}

.order-item tr:hover {background-color: #ddd;}

.order-item th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #E6AB49;
  color: white;
}
</style>