<template>
  <div class="search-block">
    <Breadcrumbs></Breadcrumbs>
    <container mod="wide">
      <h1>Поиск<span class="items_count" v-if="search_results.length"> ({{ search_results.length }} шт.) </span></h1>
      <div class="search-input">
        <input type="text" class="search-input__input" v-model="search" placeholder="Введите название продукта" @input="searchItem">
        <button class="search-input__button">Поиск</button>
      </div>
      <div class="search-grid">
        <template v-if="!search_results.length">
          <h2>Никаких товаров не найдено</h2>
        </template>
        <div class="search-block__items">
          <div class="search-item"
               v-for="(item, idx) in search_results"
               :key="idx"
          >
            <div class="search-item__image"
                 :style="{ background: `no-repeat url(${item.get_thumbnail}) 50% center/cover` }"></div>
            <div class="search-item__content">
              <div>
                <span class="content__subtitle">Гитары</span>
                <router-link :to="item.get_absolute_url">
                  <h2 class="content__title">{{ item.name }}</h2>
                </router-link>
              </div>
              <span class="content__available">
                {{ item.available ? "В наличии" : "Нет в наличии" }}
              </span>
              <span class="content__price">
                Цена: {{ item.price }} руб.
              </span>
              <div class="search-item__tools">
                <router-link :to="item.get_absolute_url">
                  <my-button
                      class="back-button"
                      theme="primary"
                      size="s"
                  >
                    ПОДРОБНЕЕ
                  </my-button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </container>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
import MyButton from "@/components/Button";
import {doSearch} from "@/API/entities";


export default {
  name: 'Search',
  components: {
    Breadcrumbs,
    Container,
    MyButton
  },
  data() {
    return {
      search_results: [],
      search: "",
    }
  },
  methods: {
     searchItem() {
       this.search_results = [];
       if (this.search.length) {
         doSearch(this.search)
             .then(res => {
               this.search_results = res.data;
               document.title = "РЕЗУЛЬТАТЫ ПОИСКА | STAVMUSICSTORE";
             })
       }
    }
  },
  async mounted() {
    document.title = 'ПОИСК | STAVMUSICSTORE'

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });

  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.search-input {
  padding: 0;
  width: 100%;
  height: 60px;
  margin: 10px 0 30px;
  border: 1px solid #000000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .search-input__input {
    background: transparent;
    height: 100%;
    width: 90%;
    margin: 0;
    font-size: 26px;
    padding: 0 10px;

    @include fSize(22px, 20px, 16px);
  }

  .search-input__button {
    height: 100%;
    width: 160px;
    background-color: #111;
    color: #fff;
    transition: all .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #111;
      background-color: #11111130;
    }
  }
}


.search-block {
  min-height: 80vh;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;

    @include fSize(35px, 25px, 22px);
  }
  .container {
    margin-top: 55px;
  }
  .search-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 30px;
    @media (max-width: $desktop-m - 1) {
      gap: 0;
    }
    @media (max-width: $desktop-s - 1) {
      grid-template-columns: 1fr;
    }
  }
}

.search-block__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  //justify-content: space-between;
  //align-items: flex-start;
  gap: 10px 20px;
  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr;
  }
}

.search-item {
  width: 100%;
  min-height: 284px;
  background: #FFF;
  margin: 0 20px 40px 20px;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: space-between;

  @media (max-width: $desktop-s - 1) {
    min-height: 210px;
    margin: 15px 0;
    width: auto;
  }

  .search-item__image {
    flex: 0 1 220px;
  }

  .search-item__content {
    flex: 1 1 65%;
    margin: 23px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      @include fSize(22px, 18px, 16px);
    }
    .content__title {
      margin-top: 4px;
    }

    .content__available {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #00CC93;
      @include fSize(15px, 15px, 13px);
    }

    .content__price {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      @include fSize(15px, 15px, 13px);
    }

    .content__subtitle {
      font-size: 16px;
      @include fSize(15px, 15px, 13px);
      line-height: 140%;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .search-item__tools {
    cursor: pointer;
    a {
      font-size: 20px;
      @include fSize(18px, 16px, 14px);
      svg {
        height: 20px;
      }
    }
  }

  .button span {
    font-weight: 600;
  }
}

.items_count {
  color: #A4A4A4;
  font-size: 19px;
  margin-left: 10px;
  @include fSize(18px, 18px, 16px);
  line-height: 25px;
}
</style>