<template>
  <div class="search-block">
    <Breadcrumbs></Breadcrumbs>
    <container mod="wide">
       <div class="auth-block">
         <img src="@/assets/images/3DLOGO_TYPE_3.svg" alt="">
         <div class="form-block">
           <h1 class="title">Войти</h1>
           <div class="auth-input">
             <input type="text" class="auth-input__input" v-model="username" placeholder="Логин">
             <div class="auth-input__icon">
               <svg width="30" height="32" viewBox="0 0 30 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M7.5 7.8335C7.5 11.9685 10.865 15.3335 15 15.3335C19.135 15.3335 22.5 11.9685 22.5 7.8335C22.5 3.6985 19.135 0.333496 15 0.333496C10.865 0.333496 7.5 3.6985 7.5 7.8335ZM28.3333 32.0002H30V30.3335C30 23.9018 24.765 18.6668 18.3333 18.6668H11.6667C5.23333 18.6668 0 23.9018 0 30.3335V32.0002H28.3333Z" fill="white"/>
               </svg>
             </div>
           </div>
           <div class="auth-input">
             <input type="password" class="auth-input__input" v-model="password" placeholder="Пароль">
             <div class="auth-input__icon">
               <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M27.1408 3.45788e-07C25.1333 -0.000460079 23.1535 0.46938 21.3602 1.37187C19.5669 2.27436 18.0099 3.58441 16.814 5.19702C15.6181 6.80964 14.8165 8.67999 14.4735 10.6582C14.1305 12.6364 14.2557 14.6674 14.8389 16.5886L0 31.4286V40H8.57079L23.4097 25.16C25.178 25.6968 27.0412 25.846 28.8724 25.5975C30.7036 25.349 32.4597 24.7087 34.021 23.7201C35.5824 22.7314 36.9122 21.4178 37.92 19.8687C38.9278 18.3196 39.5898 16.5714 39.8609 14.7433C40.132 12.9152 40.0058 11.0501 39.491 9.27521C38.9762 7.50027 38.0848 5.85719 36.8775 4.45794C35.6703 3.0587 34.1756 1.93617 32.4954 1.16687C30.8151 0.39757 28.9888 -0.000428248 27.1408 3.45788e-07V3.45788e-07ZM27.1408 22.8571C26.1574 22.8566 25.1793 22.7112 24.2382 22.4257L22.5997 21.9286L21.3898 23.1386L16.8459 27.6829L14.876 25.7143L12.8562 27.7343L14.826 29.7043L12.5605 31.97L10.5906 30L8.57079 32.02L10.5406 33.99L7.38802 37.1429H2.85693V32.6114L16.8587 18.6086L18.0701 17.3986L17.573 15.76C16.9624 13.7471 17.0021 11.593 17.6863 9.60395C18.3706 7.61493 19.6645 5.89233 21.3842 4.68118C23.1038 3.47003 25.1615 2.83202 27.2647 2.8579C29.3678 2.88378 31.4092 3.57222 33.0985 4.82531C34.7879 6.0784 36.0391 7.83232 36.6742 9.83757C37.3093 11.8428 37.2959 13.9973 36.636 15.9945C35.9762 17.9918 34.7033 19.7301 32.9986 20.9621C31.2939 22.1942 29.2441 22.8573 27.1408 22.8571V22.8571Z" fill="white"/>
               </svg>
             </div>
           </div>
           <my-button
               class="auth-button"
               theme="primary"
               size="s"
               @click="login()"
           >
             Войти
           </my-button>

           <div class="already">
             Ещё нет аккаунта? <router-link to="/signup"> <span class="doit">Зарегистрироваться</span></router-link>
           </div>
         </div>
       </div>
    </container>
  </div>
</template>

<script>
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
import MyButton from "@/components/Button";
import {login} from "@/API/entities";
import {instance} from "@/API/utils";

export default {
  name: 'Search',
  components: {
    Breadcrumbs,
    Container,
    MyButton
  },
  data() {
    return {
      username: '',
      password: '',
      errors: [],
    }
  },
  methods: {
    async login() {
      instance.defaults.headers.common['Authorization'] = '';
      localStorage.removeItem('token');

      if (this.username.length && this.password.length) {
        const res = await login({
          username: this.username,
          password: this.password,
        });

        const token = res.data.auth_token;

        this.$store.commit('SET_TOKEN', token);

        instance.defaults.headers.common['Authorization'] = 'Token ' + token;

        const toPath = this.$route.query.to || '/cart';
        await this.$router.push(toPath);
      }
    }
  },
  async mounted() {
    document.title = 'АВТОРИЗАЦИЯ | STAVMUSICSTORE'

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });

  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.already {
  margin: 20px 0;
  font-size: 18px;

  & .doit {
    color: #bf861e;

  }
}

.auth-input {
  padding: 0;
  width: 100%;
  height: 60px;
  margin: 10px 0 30px;
  border: 1px solid #000000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .auth-input__input {
    background: transparent;
    height: 100%;
    flex: 0 1 80%;
    margin: 0;
    font-size: 26px;
    padding: 0 10px;

    @include fSize(22px, 20px, 16px);

    &:focus + .auth-input__icon svg path {
      fill: #111;
    }

    &:focus + .auth-input__icon {
      background: rgba(234,161,80,1);
    }
  }

  .auth-input__icon {
    height: 100%;
    flex: 0 1 20%;
    background-color: #111;
    color: #fff;
    transition: all .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &, svg path {
      transition: all 0.25s ease-in;
    }

    &:hover {
      color: #111;
      background-color: #11111130;
    }
  }
}

.auth-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: $desktop-s - 1) {
    flex-flow: column nowrap;
  }

  .form-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 40%;

    @media (max-width: $desktop-s - 1) {
      flex: 1 1 100%;
      width: 100%;
    }
  }

  img {
    flex: 0 1 50%;

    @media (max-width: $desktop-s - 1) {
      display: none;
    }
  }
}

.title {
  margin-bottom: 50px !important;
}

.auth-button {
  width: 100%;
}

</style>