<template>
  <div class="checkout-block">
      <container mod="wide">
        <div class="order-success">
          <div class="success-container">
            <h1>Заказ успешно оформлен</h1>
            <p>С вами свяжутся в ближайшие 48 часов</p>
            <div class="not-found__action">
              <my-button
                  @click="backToMain"
                  class="back-button"
                  theme="primary"
                  size="xl"
              >НА ГЛАВНУЮ</my-button
              >
            </div>
          </div>
        </div>
      </container>
  </div>
</template>

<script>
import Container from "@/components/Container";
import MyButton from "@/components/Button";

export default {
  name: 'Success',
  components: {
    Container,
    MyButton,
  },
  data() {
    return {

    }
  },
  mounted() {

    document.title = 'ЗАКАЗ УСПЕШНО ОФОРМЛЕН || STAVMUSICSTORE';

    this.$store.commit("setState", {
      key: "sideBar",
      value: false,
    });
  },
  computed: {
  },
  methods: {
    backToMain() {
      this.$router.push({name: 'Home'});
    },
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";


.order-success {
  height: 50vh;
  width: 100%;
  background: no-repeat url('/demo/circlelogo50op.svg') 50% center/contain;
}

.success-container {
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  text-align: center;

  p {
    margin: 0 auto 30px auto;
    font-size: 22px;
    @include fSize(22px, 20px, 18px);
  }
}
</style>