<template>
  <div
    v-line-clamp="2"
    :class="['breadcrumb', mod ? `breadcrumb--${mod}` : '']"
    :style="
      sidebarOffset && $route.name === 'Home'
        ? `padding-left: ${leftPadding}px; word-break: normal !important;`
        : 'word-break: normal !important;'
    "
    style="word-break: normal;"
  >
    <a @click="goBack()" class="back-link">
      <icon-base
        class="breadcrumb-arrow"
        :width="$store.state.isTablet ? 11 : 11"
        :height="$store.state.isTablet ? 11 : 11"
        ><icon-union
      /></icon-base>
      Назад
    </a>
    <span>
      <router-link to="/">Главная</router-link>
      <icon-base
        class="union-divider"
        :width="$store.state.isTablet ? 11 : 13"
        :height="$store.state.isTablet ? 11 : 13"
        ><union-divider
      /></icon-base>
      <template v-if="this.$route.name === 'CategoryItems'">
        <router-link to="/Categories">Категории</router-link>
      </template>
      <template v-else>
        <template v-if="this.$route.name !== 'NewsDetail'">
          <router-link :to="this.$route.path">{{
              this.$route.meta.key
            }}</router-link>
        </template>
        <template v-else>
          <router-link :to="{ name: 'News'}">Новости</router-link>
        </template>
      </template>
      <template v-if="this.$route.name === 'NewsDetail' || this.$route.name === 'CategoryItems' || this.$route.name === 'ItemDetail' ">
        <icon-base
          class="union-divider"
          :width="$store.state.isTablet ? 11 : 13"
          :height="$store.state.isTablet ? 11 : 13"
          ><union-divider
        /></icon-base>
        <router-link :to="this.$route.path">
          <span>{{ cn }}</span>
        </router-link>
      </template>
    </span>
  </div>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconUnion from "@/components/icons/IconUnionUp";
import UnionDivider from "@/components/icons/UnionDivider";

export default {
  components: {
    UnionDivider,
    IconBase,
    IconUnion,
  },
  props: {
    cn: {
      type: String,
      default: null,
    },
    mod: {
      type: String,
      default: "",
    },
    sidebarOffset: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    leftPadding() {
      if (
        !this.$store.state.isTablet &&
        !this.$store.state.isMobile &&
        this.$route.name === "Home"
      ) {
        return this.$store.state.logoWidth + this.$store.state.gapWidth;
      }
      return 16;
    },
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.breadcrumb {
  width: 100%;
  max-width: 1552px;
  margin: 20px auto;
  padding: 0 16px;

  @media (max-width: $desktop-l - 1) {
    max-width: 1361px;
  }

  @media (max-width: $desktop-m - 1) {
    max-width: 1216px;
  }

  @media (max-width: $desktop-s - 1) {
    max-width: 616px;
  }
}

.breadcrumb--wide {
  @media (min-width: $desktop-l) {
    max-width: 1552px;
  }
}

.breadcrumb-arrow {
  transform: rotate(-135deg);
  margin-top: 5px;
}

.back-link {
  margin-right: 40px;
  cursor: pointer;
}

.union-divider {
  margin: auto 10px;
}
</style>
