<template>
  <button :class="['button-arrow', mod]" @click="$emit('click')">
    <icon-base viewBox="0 0 32 11"
      ><icon-long-arrow
    /></icon-base>
  </button>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconLongArrow from "@/components/icons/IconLongArrow";

export default {
  components: {
    IconBase,
    IconLongArrow,
  },
  props: {
    mod: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.button-arrow {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #000000;
  transition: all 0.2s $text-easing;
  color: #000;

  @media (max-width: $desktop-s - 1) {
    width: 42px;
    height: 42px;
  }

  @media (max-width: $tablet - 1) {
    width: 32px;
    height: 32px;
  }
}

.button-arrow svg {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 11px;

  @media (max-width: $desktop-s - 1) {
    width: 22px;
    height: 10px;
  }

  @media (max-width: $tablet - 1) {
    width: 15px;
    height: 6px;
  }
}

.button-arrow.backwards svg {
  transform: scaleX(-1);
}

@media (hover: hover) and (pointer: fine) {
  .button-arrow:hover {
    background: #000000;
    color: white;
  }
}

.button-arrow[disabled] {
  pointer-events: none;
  border: 1px solid #cccccc;
  color: #cccccc;
}
</style>
