<template>
  <component
    :is="tag"
    :class="['button', size, theme]"
    :type="tag === 'button' ? type : ''"
    @click="$emit('click')"
  >
    <span>
      <slot></slot>
    </span>
  </component>
</template>

<script>
export default {
  props: {
    theme: {
      type: String,
      default: "primary",
    },
    size: {
      type: String,
      default: "m",
    },
    tag: {
      type: String,
      default: "button",
    },
    type: {
      type: String,
      default: "button",
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  pointer-events: none;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover::before {
    left: 0;
    transition: 0.5s cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}

.button > span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button.s {
  height: 46px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;

  @media (max-width: $desktop-m - 1) {
    height: 42px;
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: $desktop-s - 1) {
    height: 40px;
    font-size: 12px;
    line-height: 14px;
  }
}

.button.m {
  height: 60px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;

  @media (max-width: $desktop-l - 1) {
    height: 55px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (max-width: $desktop-m - 1) {
    height: 50px;
  }
}

.button.l {
  height: 70px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;

  @media (max-width: $desktop-l - 1) {
    height: 60px;
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 16px;
    line-height: 18px;
  }
}

.button.xl {
  height: 80px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;

  @media (max-width: $desktop-l - 1) {
    height: 60px;
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 16px;
    line-height: 18px;
  }
}

.button.one-size-s {
  height: 45px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 16px;
  line-height: 18px;
}

.button.secondary {
  background: #000000;
  color: white;
  transition: color 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.button.secondary::after {
  border: 2px solid #000000;
}

.button.secondary::before {
  background-color: white;
}

@media (hover: hover) and (pointer: fine) {
  .button.secondary:hover {
    color: black;
  }
}

.button.primary {
  color: black;
  transition: color 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.button.primary::after {
  border: 2px solid #000000;
}

.button.primary::before {
  background-color: black;
}

@media (hover: hover) and (pointer: fine) {
  .button.primary:hover {
    color: white;
  }
}
</style>
