<template>
    <aside class="cat-sidebar">
      <section class="cat-sidebar__section">
        <nav class="cat-sidebar__social-nav">
          <ul>
            <li v-for="(category_item, idx) in categories_list" :key="idx">
              <router-link :to="category_item.get_absolute_url">
                <cat-link>
                  {{ category_item.name }}
                </cat-link>
              </router-link>
            </li>
          </ul>
        </nav>
      </section>
    </aside>
</template>

<script>
import CatLink from "@/components/CatLink";

export default {
  components: {
    CatLink,
  },
  data() {
    return {
    }
  },
  props: {
    categories_list: {
      type: Array,
    }
  },
  computed: {
    sidebarWidth() {
      return this.$store.state.logoWidth;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables";

.cat-sidebar {
  margin: 0 0 100px 0;
  //position: absolute;
  //top: 200px;
  display: flex;
  flex-direction: column;
  width: 244px;
  min-height: calc(100vh - 130px - 50px);

  @media (max-width: $desktop-l - 1) {
    width: 216px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 184px;
  }
}

.cat-sidebar__section {
  padding-bottom: 60px;
  padding-top: 20px;
  border-top: 1px solid #000000;
}

.cat-sidebar__section:last-child {
  padding-bottom: 0;
}

.cat-sidebar__section--down {
  margin-top: auto;
}

.cat-sidebar__section--footer {
  padding-top: 31px;
  padding-bottom: 77px;
  border-top: 1px solid #000000;

  @media (max-width: $desktop-m - 1) {
    padding-bottom: 83px;
  }
}

.cat-sidebar__nav ul li {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.cat-sidebar__nav ul li.active {
  color: black;
}

.cat-sidebar__nav ul li:last-child {
  margin-bottom: 0;
}

.cat-sidebar__social-nav ul li {
  margin-bottom: 15px;
}

.cat-sidebar__social-nav ul li:last-child {
  margin-bottom: 0;
}

.cat-sidebar__text {
  font-size: 15px;
  line-height: 130%;
  color: $color-2;

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.cat-sidebar__text p {
  margin-bottom: 1.2em;
}

.cat-sidebar__text p:last-child {
  margin-bottom: 0;
}
</style>
