<template>
  <div>
    <div class="contacts">
      <div class="contacts__heading">
        Укажите ваше имя и номер <br v-show="!$store.state.isMobile" />телефона,
        мы свяжемся <br v-show="!$store.state.isMobile" />с вами в ближайшее
        время
      </div>
      <div class="contacts__main">
        <div class="contacts__form" ref="contactForm">
          <ul class="contacts__field-list">
            <li>
              <text-input
                label="Имя"
                v-model="name"
                :error="errors.name.text"
              ></text-input>
            </li>
            <li>
              <text-input
                label="Телефон"
                v-model="phone"
                :error="errors.phone.text"
                :isPhone="true"
              ></text-input>
            </li>
            <li>
              <text-input
                label="Email"
                v-model="email"
                :error="errors.email.text"
              ></text-input>
            </li>
          </ul>
          <div class="contacts__footer">
            <my-button
              theme="primary"
              size="xl"
              class="contacts__submit"
              type="submit"
              @click="submitHandler"
              >ОСТАВИТЬ ЗАЯВКУ</my-button
            >
          </div>
        </div>
        <div class="contacts__socials">
          <div class="contacts__subheading">Мы в соцсетях</div>
          <nav class="contacts__social-nav">
            <ul>
              <li>
                <out-link
                  target="_blank"
                  mod="contacts"
                  href="https://instagram.com/"
                  >Instagram</out-link
                >
              </li>
              <li>
                <out-link
                  target="_blank"
                  mod="contacts"
                  href="https://www.facebook.com/"
                  >Facebook</out-link
                >
              </li>
              <li>
                <out-link
                  target="_blank"
                  mod="contacts"
                  href="https://vk.com/"
                  >VK</out-link
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="contacts__map">
          <div class="map" id="map"></div>
        </div>
        <div class="contacts__address">
          <ul>
            <li>
              <div class="contact">
                <span class="contact__icon contact__icon--pin">
                  <icon-base viewBox="1 0 37 37">
                    <icon-phone />
                  </icon-base>
                </span>
                <span class="contact__text">+7 (999) 379-17-59</span>
              </div>
            </li>
            <li>
              <a
                href="mailto:mail@mailrussia.ru"
                target="_blank"
                class="contact"
              >
                <span class="contact__icon contact__icon--mail">
                  <icon-base viewBox="0 0 41 31">
                    <icon-mail />
                  </icon-base>
                </span>
                <span class="contact__text">support@musicstore.ru</span>
              </a>
            </li>
            <li>
              <div class="contact">
                <span class="contact__icon contact__icon--pin"
                  ><icon-base viewBox="0 0 31 45"><icon-pin /></icon-base
                ></span>
                <span class="contact__text">Ставропольский край, город Ставрополь, ул. 45 Параллель, дом 2А, этаж 1</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MockAdapter from "axios-mock-adapter";
import TextInput from "@/components/TextInput";
import MyButton from "@/components/Button";
import OutLink from "@/components/OutLink";
import { required, helpers, email } from "vuelidate/lib/validators";
import pin from "@/assets/images/pin.png";
import IconBase from "@/components/icons/IconBase";
import IconPin from "@/components/icons/IconPin";
import IconMail from "@/components/icons/IconMail";
import IconPhone from "@/components/icons/IconPhone";
import {consultation} from "@/API/entities";

const name = helpers.regex("name", /^[A-Za-zА-Яа-я\s]*$/);
const tel = helpers.regex("tel", /^[0-9+]*$/);

export default {
  components: {
    TextInput,
    MyButton,
    OutLink,
    IconBase,
    IconPin,
    IconMail,
    IconPhone,
  },
  data() {
    return {
      name: "",
      phone: "",
      email: "",
      errors: {
        name: {
          text: "",
        },
        phone: {
          text: "",
        },
        email: {
          text: "",
        },
      },
      mock: new MockAdapter(this.axios),
      myMap: null,
    };
  },
  watch: {
    name: {
      handler(val) {
        if (val.length) {
          this.$v.name.$touch();
        }
      },
    },
    phone: {
      handler(val) {
        if (val.length) {
          this.$v.phone.$touch();
        }
      },
    },
    email: {
      handler(val) {
        if (val.length) {
          this.$v.email.$touch();
        }
      },
    },
    $v: {
      deep: true,
      handler(val) {
        if (val.name.$dirty && !val.name.required) {
          this.errors.name.text = "Заполните поле Имя";
        } else if (val.name.$dirty && !val.name.name) {
          this.errors.name.text =
            "Имя должно состоять из символов кириллицы или латиницы";
        } else {
          this.errors.name.text = "";
        }

        if (val.phone.$dirty && !val.phone.required) {
          this.errors.phone.text = "Заполните поле Телефон";
        } else if (val.phone.$dirty && !val.phone.tel) {
          this.errors.phone.text =
            "Номер телефона должен содержать цифры и символ +";
        } else {
          this.errors.phone.text = "";
        }

        if (val.email.$dirty && !val.email.required) {
          this.errors.email.text = "Заполните поле Email";
        } else if (val.email.$dirty && !val.email.email) {
          this.errors.email.text = "Некорректный адрес электронной почты";
        } else {
          this.errors.email.text = "";
        }
      },
    },
    $route() {
      this.myMap.container.fitToViewport();
    },
  },
  validations: {
    name: {
      required,
      name,
    },
    phone: {
      required,
      tel,
    },
    email: {
      required,
      email,
    },
  },
  methods: {
    submitHandler() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        let formData = new FormData();

        formData.append("name", this.name);
        formData.append("phone", this.phone);
        formData.append("email", this.email);
        formData.append("course_name", this.$store.state.lessonType.NAME);
        formData.append("course_price", this.$store.state.lessonType.PRICE);

        consultation(formData)
          .then(() => {
            this.$store.commit("setState", {
              key: "CTAFormSuccess",
              value: true,
            });
          })
          .catch(() => {
            if (process.env.NODE_ENV === "development") {
              this.$store.commit("setState", {
                key: "CTAFormSuccess",
                value: true,
              });
            }
          });
      }
    },
  },
  mounted() {
    this.$nextTick(() => {
      var waitForGlobal = function(key, callback) {
        if (window[key]) {
          callback();
        } else {
          setTimeout(function() {
            waitForGlobal(key, callback);
          }, 100);
        }
      };

      const that = this;

      waitForGlobal("ymaps", function() {
        // eslint-disable-next-line no-undef
        ymaps.ready(init);
        function init() {
          // eslint-disable-next-line no-undef
          that.myMap = new ymaps.Map("map", {
            center: [45.000004, 41.912363],
            zoom: 18,
          });
          // eslint-disable-next-line no-undef
          var marker = new ymaps.Placemark(
            that.myMap.getCenter(),
            {},
            {
              iconLayout: "default#image",
              iconImageHref: pin,
              iconImageSize: [30, 44],
              iconImageOffset: [-15, -44],
            }
          );
          that.myMap.geoObjects.add(marker);
        }
      });
    });
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.contacts__heading {
  margin-bottom: 83px;
  font-size: 60px;
  line-height: 110%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    margin-bottom: 70px;
    font-size: 54px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-bottom: 90px;
    font-size: 47px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 50px;
    font-size: 37px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 25px;
    font-size: 28px;
  }
}

.contacts__main {
  display: grid;
  grid-template-columns: 516px 1fr;
  gap: 80px 71px;
  grid-gap: 80px 71px;

  @media (max-width: $desktop-l - 1) {
    gap: 80px 57px;
    grid-gap: 80px 57px;
  }

  @media (max-width: $desktop-m - 1) {
    grid-template-columns: 446px 1fr;
    gap: 80px 35px;
    grid-gap: 80px 35px;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 287px 1fr;
    gap: 0 19px;
    grid-gap: 0 19px;
  }

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.contacts__form {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media (max-width: $desktop-s - 1) {
    grid-column: 1 / 3;
    padding-bottom: 50px;
  }

  @media (max-width: $tablet - 1) {
    padding-bottom: 35px;
  }
}

.contacts__socials {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @media (max-width: $desktop-s - 1) {
    grid-columm: 1 / 3;
    grid-row: 2 / 3;
    padding-bottom: 43px;
  }
}

.contacts__map {
  grid-columm: 2 / 3;
  grid-row: 1 / 2;
  min-width: 0;

  @media (max-width: $desktop-s - 1) {
    grid-columm: 1 / 2;
    grid-row: 3 / 4;
  }

  @media (max-width: $tablet - 1) {
    padding-bottom: 33px;
  }
}

.contacts__address {
  grid-columm: 2 / 3;
  grid-row: 2 / 3;

  @media (max-width: $desktop-s - 1) {
    grid-columm: 2 / 3;
    grid-row: 3 / 4;
  }
}

.contacts__address ul li {
  margin-bottom: 45px;

  @media (max-width: $tablet - 1) {
    margin-bottom: 32px;
  }
}

.contacts__address ul li:last-child {
  margin-bottom: 0;
}

.contacts__field-list li {
  margin-bottom: 33px;

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 18px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 21px;
  }
}

.contacts__field-list li:last-child {
  margin-bottom: 0;
}

.contacts__footer {
  margin-top: 70px;

  @media (max-width: $desktop-l - 1) {
    margin-top: 60px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-top: 70px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-top: 40px;
  }

  @media (max-width: $tablet - 1) {
    margin-top: 35px;
  }
}

.contacts__submit {
  width: 366px;

  @media (max-width: $desktop-l - 1) {
    width: 270px;
  }

  @media (max-width: $desktop-s - 1) {
    width: 100%;
  }
}

.map {
  height: 418px;

  @media (max-width: $desktop-s - 1) {
    height: 274px;
  }
}

.contacts__subheading {
  margin-bottom: 22px;
  font-size: 40px;
  line-height: 130%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    font-size: 36px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-bottom: 30px;
    font-size: 30px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 20px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 27px;
  }
}

.contacts__social-nav ul {
  @media (max-width: $desktop-s - 1) {
    display: flex;
  }

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.contacts__social-nav ul li {
  margin-bottom: 13px;

  @media (max-width: $desktop-l - 1) {
    margin-bottom: 16px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-bottom: 20px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 0;
    margin-right: 35px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 22px;
  }
}

.contacts__social-nav ul li:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.contact {
  display: flex;
}

.contact__icon {
  display: flex;
  justify-content: center;
  flex: 0 0 47px;
  width: 47px;
  margin-right: 20px;
  color: $color-6;

  @media (max-width: $desktop-l - 1) {
    margin-right: 15px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-right: 5px;
    flex: 0 0 37px;
    width: 37px;
  }
}

.contact__icon--mail svg {
  display: block;
  width: 40px;
  height: 30px;

  @media (max-width: $desktop-s - 1) {
    width: 30px;
    height: 20px;
  }
}

.contact__icon--pin svg {
  display: block;
  width: 31px;
  height: 44px;

  @media (max-width: $desktop-s - 1) {
    width: 27px;
    height: 38px;
  }
}

.contact__text {
  font-size: 26px;
  line-height: 130%;
  color: $color-2;
  margin-top: auto;
  margin-bottom: auto;

  @media (max-width: $desktop-l - 1) {
    font-size: 24px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 20px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 17px;
  }
}
</style>
