<template>
  <div :class="['container', { offset: sidebarOffset }, mod ? mod : '']">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    mod: {
      type: String,
      default: "",
    },
    sidebarOffset: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    leftPadding() {
      if (
        !this.$store.state.isTablet &&
        !this.$store.state.isMobile &&
        this.$route.name === "Home"
      ) {
        return this.$store.state.logoWidth + this.$store.state.gapWidth;
      }
      return 16;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.container {
  width: 100%;
  max-width: 1522px;
  margin: 0 auto;
  padding: 0 16px;

  @media (max-width: $desktop-l - 1) {
    max-width: 1361px;
  }

  @media (max-width: $desktop-m - 1) {
    max-width: 1216px;
  }

  @media (max-width: $desktop-s - 1) {
    max-width: 616px;
  }
}

.container.offset {
  padding-left: 330px;

  @media (max-width: $desktop-l - 1) {
    padding-left: 319px;
  }

  @media (max-width: $desktop-m - 1) {
    padding-left: 270px;
  }

  @media (max-width: $desktop-s - 1) {
    padding-left: 16px;
  }
}

.container.wide {
  @media (min-width: $desktop-l) {
    max-width: 1552px;
  }
}

.container.wide.offset {
  @media (min-width: $desktop-l) {
    padding-left: 360px;
  }  
}
</style>
