<template>
    <aside class="cat-sidebar">
      <section class="cat-sidebar__section">
        <div class="cat-sidebar__checkboxes">
          <ul>
            <li>
              <span class="filter-title">Бренды</span>
            </li>
            <li v-for="(item, idx) in ['Fender','Flight']" :key="idx">
              <label class="check-container">{{item}}
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
      </section>
      <section class="cat-sidebar__section">
        <div class="cat-sidebar__checkboxes">
          <span class="filter-title">Количество ладов</span>
          <input type="text" :value="lad_count" class="price_show">
          <input type="range" class="filters-range" id="lad_count" min="0" max="12" step="1" v-model="lad_count">
        </div>
      </section>
      <section class="cat-sidebar__section">
        <div class="cat-sidebar__checkboxes">
          <ul>
            <li>
              <span class="filter-title">Количество струн</span>
            </li>
            <li v-for="(item, idx) in ['12','6', '4']" :key="idx">
              <label class="check-container">{{item}}
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
      </section>
      <section class="cat-sidebar__section">
        <div class="cat-sidebar__checkboxes">
          <span class="filter-title">Цена до</span>
          <input type="text" :value="price_range" class="price_show">
          <input type="range" class="filters-range" id="price" min="0" max="100000" step="100" v-model="price_range">
        </div>
      </section>
      <section class="cat-sidebar__section">
        <div class="cat-sidebar__checkboxes">
          <ul>
            <li>
              <span class="filter-title">Цвет</span>
            </li>
            <li v-for="(item, idx) in ['Белый','Красный', 'Натуральный']" :key="idx">
              <label class="check-container">{{item}}
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
      </section>
      <section class="cat-sidebar__section">
        <div class="cat-sidebar__checkboxes">
          <ul>
            <li>
              <span class="filter-title">Материал</span>
            </li>
            <li v-for="(item, idx) in ['Дуб','Клён', 'Ламинат']" :key="idx">
              <label class="check-container">{{item}}
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
      </section>
    </aside>
</template>

<script>
// import CatLink from "@/components/CatLink";

export default {
  components: {
  },
  data() {
    return {
      price_range: 0,
      lad_count: 0,
    }
  },
  props: {
  },
  computed: {
    sidebarWidth() {
      return this.$store.state.logoWidth;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables";

.cat-sidebar {
  margin: 0 0 100px 0;
  //position: absolute;
  //top: 200px;
  display: flex;
  flex-direction: column;
  width: 244px;
  min-height: calc(100vh - 130px - 50px);

  @media (max-width: $desktop-l - 1) {
    width: 216px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 184px;
  }
}

.cat-sidebar__section {
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #000000;
}

.cat-sidebar__section:last-child {
  padding-bottom: 0;
}

.cat-sidebar__section--down {
  margin-top: auto;
}

.cat-sidebar__section--footer {
  padding-top: 31px;
  padding-bottom: 77px;
  border-top: 1px solid #000000;

  @media (max-width: $desktop-m - 1) {
    padding-bottom: 83px;
  }
}

.cat-sidebar__nav ul li {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.cat-sidebar__nav ul li.active {
  color: black;
}

.cat-sidebar__nav ul li:last-child {
  margin-bottom: 0;
}

.cat-sidebar__checkboxes ul li {
  margin-bottom: 15px;
}

.cat-sidebar__checkboxes ul li:last-child {
  margin-bottom: 0;
}

.cat-sidebar__text {
  font-size: 15px;
  line-height: 130%;
  color: $color-2;

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.cat-sidebar__text p {
  margin-bottom: 1.2em;
}

.cat-sidebar__text p:last-child {
  margin-bottom: 0;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-top: 2px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  transition: all .1s ease-in-out;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #00000030;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.filter-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #291C15;
}

.price_show {
  padding: 4px 10px;
  width: 100%;
  margin: 7px 0;
  font-size: 18px;
  border: 1px solid #000000;
}

input[type=range] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #000000;
  border-radius: 25px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8px;
  width: 17px;
  height: 17px;
  background: #E6AB49;
  border-radius: 20px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bf861e;
}
input[type=range]::-moz-range-track {
  background: #000000;
  border-radius: 25px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8.2px 0;
  color: transparent;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #E6AB49;
  border-radius: 24px;
}
input[type=range]::-ms-fill-upper {
  background: #E6AB49;
  border-radius: 24px;
}
input[type=range]::-ms-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

@supports (-ms-ime-align:auto) {
  input[type=range] {
    margin: 0;
  }
}



</style>
