<template>
  <footer class="footer">
    <container :sidebarOffset="$route.name === 'Home'">
      <div class="footer__row">
        <div class="footer__cell">
          <div class="footer__text">© Ставропольский музыкальный центр 2021</div>
        </div>
        <div class="footer__cell">
          <div class="footer__text">
            Все права защищены и охраняются законом
          </div>
        </div>
      </div>
    </container>
  </footer>
</template>

<script>
import Container from "@/components/Container";

export default {
  components: {
    Container,
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.footer {
  padding: 160px 0 67px;
  background-color: white;

  @media (max-width: $desktop-l - 1) {
    padding: 156px 0 33px;
  }

  @media (max-width: $desktop-m - 1) {
    padding: 122px 0 33px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 45px 0 26px;
  }

  @media (max-width: $tablet - 1) {
    padding: 40px 0 15px;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop-s - 1) {
    display: block;
  }
}

.footer__cell {
  @media (max-width: $desktop-s - 1) {
    margin-bottom: 16px;
  }
}

.footer__cell:last-child {
  @media (max-width: $desktop-s - 1) {
    margin-bottom: 0;
  }
}

.footer__text {
  font-size: 20px;
  line-height: 23px;
  color: $color-2;

  @media (max-width: $desktop-l - 1) {
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 12px;
    line-height: 14px;
  }
}
</style>
