<template>
  <header
    :class="[
      'header',
      { filled: $store.state.mobileMenuVisible && $store.state.isMobile },
      { fixed: fixed }
    ]"
    :style="$route.name !== 'Home' ? `background-color: ${pageColor}` : ''"
  >
    <container mod="wide" :sidebarOffset="true">
      <div class="header__row">
        <div class="header__logo" v-show="$store.state.isTablet">
          <header-logo></header-logo>
        </div>
        <nav class="header__menu" v-show="!$store.state.isMobile">
          <ul>
            <li
              v-for="(item, index) in this.$store.state.mainMenu"
              :key="`main-menu-item-${index}`"
            >
              <router-link :to="item.to">{{ item.name }}</router-link>
            </li>
          </ul>
        </nav>
        <div class="header__tools">
          <div class="header__tools__cart">
            <router-link to="/Cart">
              <div class="counter">{{ cartTotalLength }}</div>
              <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 2.8125C0 2.56386 0.0987721 2.3254 0.274587 2.14959C0.450403 1.97377 0.68886 1.875 0.9375 1.875H3.75C3.95912 1.87506 4.16222 1.94503 4.327 2.0738C4.49177 2.20256 4.60877 2.38272 4.65937 2.58562L5.41875 5.625H27.1875C27.3252 5.62513 27.4611 5.65557 27.5857 5.71416C27.7102 5.77275 27.8204 5.85805 27.9082 5.96401C27.9961 6.06996 28.0596 6.19397 28.0941 6.32722C28.1287 6.46047 28.1335 6.59969 28.1081 6.735L25.2956 21.735C25.2554 21.9498 25.1414 22.1439 24.9733 22.2835C24.8052 22.4232 24.5936 22.4998 24.375 22.5H7.5C7.28144 22.4998 7.06981 22.4232 6.90171 22.2835C6.7336 22.1439 6.61959 21.9498 6.57938 21.735L3.76875 6.76313L3.01875 3.75H0.9375C0.68886 3.75 0.450403 3.65123 0.274587 3.47541C0.0987721 3.2996 0 3.06114 0 2.8125ZM5.81625 7.5L8.27812 20.625H23.5969L26.0587 7.5H5.81625ZM9.375 22.5C8.38044 22.5 7.42661 22.8951 6.72335 23.5984C6.02009 24.3016 5.625 25.2554 5.625 26.25C5.625 27.2446 6.02009 28.1984 6.72335 28.9016C7.42661 29.6049 8.38044 30 9.375 30C10.3696 30 11.3234 29.6049 12.0267 28.9016C12.7299 28.1984 13.125 27.2446 13.125 26.25C13.125 25.2554 12.7299 24.3016 12.0267 23.5984C11.3234 22.8951 10.3696 22.5 9.375 22.5ZM22.5 22.5C21.5054 22.5 20.5516 22.8951 19.8484 23.5984C19.1451 24.3016 18.75 25.2554 18.75 26.25C18.75 27.2446 19.1451 28.1984 19.8484 28.9016C20.5516 29.6049 21.5054 30 22.5 30C23.4946 30 24.4484 29.6049 25.1516 28.9016C25.8549 28.1984 26.25 27.2446 26.25 26.25C26.25 25.2554 25.8549 24.3016 25.1516 23.5984C24.4484 22.8951 23.4946 22.5 22.5 22.5ZM9.375 24.375C9.87228 24.375 10.3492 24.5725 10.7008 24.9242C11.0525 25.2758 11.25 25.7527 11.25 26.25C11.25 26.7473 11.0525 27.2242 10.7008 27.5758C10.3492 27.9275 9.87228 28.125 9.375 28.125C8.87772 28.125 8.40081 27.9275 8.04918 27.5758C7.69754 27.2242 7.5 26.7473 7.5 26.25C7.5 25.7527 7.69754 25.2758 8.04918 24.9242C8.40081 24.5725 8.87772 24.375 9.375 24.375ZM22.5 24.375C22.9973 24.375 23.4742 24.5725 23.8258 24.9242C24.1775 25.2758 24.375 25.7527 24.375 26.25C24.375 26.7473 24.1775 27.2242 23.8258 27.5758C23.4742 27.9275 22.9973 28.125 22.5 28.125C22.0027 28.125 21.5258 27.9275 21.1742 27.5758C20.8225 27.2242 20.625 26.7473 20.625 26.25C20.625 25.7527 20.8225 25.2758 21.1742 24.9242C21.5258 24.5725 22.0027 24.375 22.5 24.375V24.375Z" fill="black"/>
              </svg>
            </router-link>
          </div>
          <div class="header__tools__cart">
            <router-link to="/Search">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M35.5313 33.3789L25.3867 23.2344C26.9609 21.1992 27.8125 18.7109 27.8125 16.0938C27.8125 12.9609 26.5898 10.0234 24.3789 7.80859C22.168 5.59375 19.2227 4.375 16.0938 4.375C12.9648 4.375 10.0195 5.59766 7.80859 7.80859C5.59375 10.0195 4.375 12.9609 4.375 16.0938C4.375 19.2227 5.59766 22.168 7.80859 24.3789C10.0195 26.5938 12.9609 27.8125 16.0938 27.8125C18.7109 27.8125 21.1953 26.9609 23.2305 25.3906L33.375 35.5313C33.4048 35.561 33.4401 35.5846 33.4789 35.6007C33.5178 35.6169 33.5595 35.6251 33.6016 35.6251C33.6437 35.6251 33.6853 35.6169 33.7242 35.6007C33.7631 35.5846 33.7984 35.561 33.8281 35.5313L35.5313 33.832C35.561 33.8023 35.5846 33.767 35.6007 33.7281C35.6169 33.6892 35.6251 33.6476 35.6251 33.6055C35.6251 33.5634 35.6169 33.5217 35.6007 33.4829C35.5846 33.444 35.561 33.4087 35.5313 33.3789V33.3789ZM22.2813 22.2813C20.625 23.9336 18.4297 24.8438 16.0938 24.8438C13.7578 24.8438 11.5625 23.9336 9.90625 22.2813C8.25391 20.625 7.34375 18.4297 7.34375 16.0938C7.34375 13.7578 8.25391 11.5586 9.90625 9.90625C11.5625 8.25391 13.7578 7.34375 16.0938 7.34375C18.4297 7.34375 20.6289 8.25 22.2813 9.90625C23.9336 11.5625 24.8438 13.7578 24.8438 16.0938C24.8438 18.4297 23.9336 20.6289 22.2813 22.2813Z" fill="black"/>
              </svg>
            </router-link>
          </div>
          <div v-show="!$store.state.isMobile && this.$route.name !== 'profile'">
            <router-link to="/Profile">
              <my-button
                theme="primary"
                size="s"
                class="header__btn-profile"
              >
                Профиль</my-button
              >
            </router-link>
          </div>
          <div v-show="!$store.state.isMobile && this.$route.name === 'profile'">
              <my-button
                  theme="primary"
                  size="s"
                  class="header__btn-profile"
                  @click="logout()"
              >
                ВЫЙТИ</my-button
              >
          </div>
          <div v-show="$store.state.isMobile">
            <button class="burger-menu" @click="mobileButtonHandler">
              <span class="burger-menu__row">
                <span class="burger-menu__name">Меню</span>
                <span class="burger-menu__icon">
                  <icon-base v-show="!mobileMenuVisible" width="30" height="14"
                    ><icon-burger
                  /></icon-base>
                  <icon-base v-show="mobileMenuVisible" width="17" height="17" viewBox="0 0 17 17"
                    ><icon-close
                  /></icon-base>
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </container>
  </header>
</template>

<script>
import Container from "@/components/Container";
import MyButton from "@/components/Button";
import IconBase from "@/components/icons/IconBase";
import IconBurger from "@/components/icons/IconBurger";
import IconClose from "@/components/icons/IconClose";
import HeaderLogo from "@/components/HeaderLogo";
import {instance} from "@/API/utils";

export default {
  components: {
    MyButton,
    IconBase,
    IconBurger,
    IconClose,
    Container,
    HeaderLogo,
  },
  props: {
    fixed: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      cart: {
        items: [],
      },
    }
  },
  methods: {
    mobileButtonHandler() {
      this.$store.commit("setState", {
        key: "mobileMenuVisible",
        value: !this.$store.state.mobileMenuVisible,
      });
    },
    logout() {
      instance.defaults.headers.common['Authorization'] = '';

      localStorage.removeItem('token');
      localStorage.removeItem('username');
      localStorage.removeItem('userId');

      this.$store.commit('REMOVE_TOKEN');

      this.$router.push('/');
    }
  },
  computed: {
    cartTotalLength() {
      let totalLen = 0;
      for (let i = 0; i < this.cart.items.length; i++) {
        totalLen += this.cart.items[i].quantity;
      }

      return totalLen;
    },
    mobileMenuVisible() {
      return this.$store.state.mobileMenuVisible;
    },
    pageColor() {
      return this.$route.name === "Home" || this.$route.name === "Contact" || this.$store.state.mobileMenuVisible
        ? "#ffffff"
        : "#F8F6F3";
    },
  },
  beforeCreate() {
    this.$store.commit('initStore');
    const token = this.$store.state.token;

    if (token) {
      instance.defaults.headers.common['Authorization'] = `Token ${token}`;
    } else {
      instance.defaults.headers.common['Authorization'] = '';
    }
  },
  mounted() {
    this.cart = this.$store.state.cart;
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.header.fixed {
  position: fixed;
}

.header.filled {
  background-color: white;
}

.header__row {
  display: flex;
  align-items: center;

  @media (max-width: $desktop-s - 1) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
  }

  @media (max-width: $tablet - 1) {
    border-bottom: 1px solid #000000;
  }
}

.header__menu,
.header__tools {
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #000000;
}

.header__gap {
  flex-grow: 1;
  max-width: 100px;
  min-width: 70px;

  @media (max-width: $desktop-s - 1) {
    display: none;
  }
}

.header__menu {
  flex-grow: 1;
  margin-left: auto;

  @media (max-width: $desktop-s - 1) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin-left: 0;
    height: 54px;
    border-top: 1px solid #000000;
  }
}

.header__menu ul {
  display: flex;
  align-items: center;

  @media (max-width: $desktop-s - 1) {
    flex-grow: 1;
    justify-content: space-between;
  }
}

.header__menu ul li {
  margin-right: 60px;
  font-size: 18px;
  line-height: 100%;
  transition: color 0.2s $text-easing;

  @media (max-width: $desktop-l - 1) {
    font-size: 16px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-right: 54px;
    font-size: 14px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-right: 0;
    font-size: 14px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header__menu ul li:hover {
    color: $color-1;
  }
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__tools {
  margin-left: auto;

  @media (max-width: $desktop-s - 1) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 79px;
    border-bottom: 0;
  }

  @media (max-width: $tablet - 1) {
    height: 56px;
  }
}

.header__btn {
  width: 210px;

  @media (max-width: $desktop-m - 1) {
    width: 188px;
  }

  @media (max-width: $desktop-s - 1) {
    width: 163px;
  }

  &-profile {
    width: 100%;

    @media (max-width: $desktop-m - 1) {
      width: 100%;
    }

    @media (max-width: $desktop-s - 1) {
      width: 163px;
    }
  }
}

.burger-menu svg {
  display: block;
}

.burger-menu__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu__name {
  margin-right: 12px;
  font-size: 18px;
  line-height: 100%;
}

.burger-menu__icon {
  display: flex;
  justify-content: center;
  width: 30px;
}

.header__tools__cart {
  margin-right: 20px;
  position: relative;
  svg {
    @media (max-width: $tablet - 1) {
      width: 30px;
      height: 30px;
    }
  }
  .counter {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E6AB49;
    color: #1A100B;
    font-size: 12px;
    line-height: 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $tablet - 1) {
      width: 15px;
      height: 15px;
      font-size: 10px;
    }
  }
}
</style>
