<template>
  <div>
    <container mod="wide" v-show="!$store.state.isTablet">
      <router-link to="/">
        <div class="header-logo" ref="logo">
          <img
              src="@/assets/images/logo_neon.svg"
              v-show="!$store.state.isMobile"
          />
          <img
            class="animated"
            src="@/assets/images/round_logo.svg"
            v-show="!$store.state.isMobile"
          />
          <img
              src="@/assets/images/logo_neon.svg"
              v-show="$store.state.isMobile"
          />
          <img
            class="animated"
            src="@/assets/images/round_logo.svg"
            v-show="$store.state.isMobile"
          />
        </div>
      </router-link>
    </container>
    <router-link to="/" v-show="$store.state.isTablet">
      <div class="header-logo">
        <img
            src="@/assets/images/logo_neon.svg"
            v-show="!$store.state.isMobile"
        />
        <img
            class="animated"
            src="@/assets/images/round_logo.svg"
            v-show="!$store.state.isMobile"
        />
      </div>
    </router-link>
  </div>
</template>

<script>
import Container from "@/components/Container";

export default {
  components: {
    Container,
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.header-logo {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 244px;
  height: 90px;
  border-bottom: 1px solid #000000;

  @media (max-width: $desktop-l - 1) {
    width: 216px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 184px;
  }

  @media (max-width: $desktop-s - 1) {
    position: static;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-bottom: 0;
    height: 79px;
  }

  @media (max-width: $tablet - 1) {
    max-width: none;
    min-width: 0;
    height: 56px;
    display: none;
  }
}

.header-logo .l {
  @media (max-width: $tablet - 1) {
    display: none;
  }
}

.header-logo .m {
  @media (min-width: $tablet) {
    display: none;
  }
}
.animated {
  animation: 8s linear .2s infinite alternate slidein;
  height: 100%;
}

.header-logo img {
  max-width: 90%;
  min-width: 122px;
  height: 79%;

  @media (max-width: $desktop-s - 1) {
    max-width: none;
    min-width: 0;
    width: 183px;
  }

  @media (max-width: $tablet - 1) {
    width: auto;
  }
}

@keyframes slidein {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
</style>
