<template>
  <section id="main-screen-contacts" class="contacts-screen">
    <container :sidebarOffset="$route.name === 'Home'">
      <contacts></contacts>
    </container>
  </section>
</template>

<script>
import Container from "@/components/Container";
import Contacts from "@/components/Contacts";

export default {
  components: {
    Container,
    Contacts,
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.contacts-screen {
  padding-top: 140px;
  background-color: white;

  @media (max-width: $desktop-m - 1) {
    padding-top: 120px;
  }

  @media (max-width: $desktop-s - 1) {
    padding-top: 90px;
  }

  @media (max-width: $tablet - 1) {
    padding-top: 50px;
  }
}
</style>
