<template>
  <section id="main-screen-about-qatar" class="qatar-screen">
    <div class="qatar-screen__ill">
      <image-slider :images="images"></image-slider>
    </div>
    <container :sidebarOffset="true">
      <div class="qatar-screen__main">
        <div class="qatar-screen__info">
          <div class="qatar-screen__heading">
            О нашей семье
          </div>
          <div class="qatar-screen__desc">
            Мы – крупнейшая розничная сеть из 50 музыкальных магазинов в России.
            У нас представлен широкий ассортимент товаров для начинающих и профессиональных
            музыкантов, звукорежиссеров и продюсеров, владельцев бизнесов.
          </div>
        </div>
        <div class="qatar-screen__note" v-show="!$store.state.isMobile">
          Компания - официальный дилер 300 мировых брендов Yamaha, Fender, Ibanez, Gibson, Marshall, Casio, AKG, Shure
        </div>
      </div>
    </container>
  </section>
</template>

<script>
import Container from "@/components/Container";
import ImageSlider from "@/components/ImageSlider";

export default {
  components: {
    Container,
    ImageSlider,
  },
  data() {
    return {
      images: [],
    };
  },
  methods: {
    async getSlides() {
      const res = await fetch(
        process.env.NODE_ENV === "development"
          ? "slider.json"
          : "https://studyarabic.ru/include/get_slider_main.php"
      );
      const data = await res.json();
      this.images = data;
    },
  },
  beforeMount() {
    this.getSlides();
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.qatar-screen__main {
  display: grid;
  grid-template-columns: 1fr 391px;
  grid-gap: 0 61px;
  padding: 48px 0 114px;

  @media (max-width: $desktop-l - 1) {
    padding: 50px 0 85px;
    grid-gap: 0 39px;
    grid-template-columns: 1fr 367px;
  }

  @media (max-width: $desktop-m - 1) {
    padding: 50px 0 90px;
    grid-gap: 0 105px;
    grid-template-columns: 1fr 297px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 31px 0 80px;
    grid-gap: 0 75px;
    grid-template-columns: 1fr 142px;
  }

  @media (max-width: $tablet - 1) {
    padding: 30px 0 50px;
    display: block;
  }
}

.qatar-screen__info {
  grid-columns: 1 / 2;
}

.qatar-screen__note {
  grid-columns: 2 / 3;
  font-size: 20px;
  line-height: 26px;
  color: black;

  @media (max-width: $desktop-l - 1) {
    font-size: 18px;
  }
  @media (max-width: $desktop-s - 1) {
    font-size: 14px;
  }
}

.qatar-screen__heading {
  color: $color-2;
  font-size: 60px;
  line-height: 69px;

  @media (max-width: $desktop-l - 1) {
    font-size: 54px;
    line-height: 62px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 47px;
    line-height: 54px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 37px;
    line-height: 43px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 28px;
    line-height: 32px;
  }

  &::after {
    display: block;
    content: "";
    margin: 31px 0 36px;
    border-bottom: 1px solid #000000;

    @media (max-width: $desktop-l - 1) {
      margin: 30px 0;
    }

    @media (max-width: $desktop-m - 1) {
      margin: 26px 0;
    }

    @media (max-width: $desktop-s - 1) {
      margin: 15px 0;
    }
  }
}

.qatar-screen__desc {
  font-size: 26px;
  line-height: 140%;

  @media (max-width: $desktop-l - 1) {
    font-size: 22px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 18px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 16px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 14px;
  }
}
</style>
