<template>
  <section id="main-screen-about" class="school-screen">
    <container :sidebarOffset="true">
      <div class="school-screen__grid">
        <div class="school-screen__intro">
          Наш магазин является одним из самых больших на территории Ставрополья,
          мы работаем с самыми крупными брендами-производителями
        </div>
        <div class="school-screen__program">
          <ul class="school-screen__logos">
            <li>
              <a href="http://google.com/" target="_blank">
                <img
                  src="@/assets/images/image1brand.png"
                  class="school-logo-1"
                />
              </a>
            </li>
            <li>
              <a href="https://google.com" target="_blank">
                <img
                  src="@/assets/images/image2brand.png"
                  class="school-logo-2"
                />
              </a>
            </li>
          </ul>
          <ul class="school-screen__logos">
            <li>
              <a href="https://google.com/" target="_blank">
                <img
                    src="@/assets/images/image3brand.png"
                    class="school-logo-3"
                />
              </a>
            </li>
            <li>
              <a href="https://google.com" target="_blank">
                <img
                    src="@/assets/images/image4brand.png"
                    class="school-logo-4"
                />
              </a>
            </li>
          </ul>
          <div class="logofive">
            <img src="@/assets/images/3DLOGO_TYPE_4.png">
          </div>
        </div>
        <div class="school-screen__ill">
          <img
            src="@/assets/images/1ourshop.png"
            v-show="!$store.state.isTablet"
          />
          <img
            src="@/assets/images/2ourshop.png"
            v-show="$store.state.isTablet && !$store.state.isMobile"
          />
          <img
            src="@/assets/images/3ourshop.png"
            v-show="$store.state.isMobile"
          />
        </div>
        <div class="school-screen__step-1">
          <div class="school-screen__step-number">1</div>
          <div class="school-screen__step-text">
            Самая быстрая и отзывчивая поддержка, высококлассная техника,
            огромный ассортимент товаров для самых искушенных музыкантов.
            Помимо качественного подбора звукового и светового оборудования, мы предлагаем
            пуско-наладочные работы силами собственной инсталляционной группы.
          </div>
        </div>
        <div class="school-screen__step-2">
          <div class="school-screen__step-number">2</div>
          <div class="school-screen__step-text">
            Мы специализируемся на работе с государственными бюджетными и муниципальными организациями.
            Мы - отличная возможность исключить посредников в закупках музыкальных инструментов,
            звукового и светового оборудования.
          </div>
        </div>
        <div class="school-screen__step-3">
          <div class="school-screen__step-number">3</div>
          <div class="school-screen__step-text">
            Мы работаем только с проверенными службами доставки и транспортными компаниями,
            а это дает гарантию доставки заказа в оговоренные сроки в целости и сохранности.
          </div>
        </div>
        <div class="school-screen__step-4">
          <div class="school-screen__step-number">4</div>
          <div class="school-screen__step-text">
            В числе наших партнёров — ведущие производители музыкального оборудования
            по всему миру, такие как Fender, Casio, Gibson, Yamaha, AKG, Audiotechnica, Yamaha,
            Marshall, Hohner, Kawai, Becker, Boss, Kurzweil и многие другие
          </div>
        </div>
      </div>
    </container>
  </section>
</template>

<script>
import Container from "@/components/Container";

export default {
  components: {
    Container,
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.school-screen {
  padding: 153px 0 147px;

  @media (max-width: $desktop-l - 1) {
    padding: 120px 0 132px;
  }

  @media (max-width: $desktop-m - 1) {
    padding: 130px 0 156px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 86px 0 52px;
  }

  @media (max-width: $tablet - 1) {
    padding: 55px 0 45px;
  }
}

.school-screen__grid {
  display: grid;
  grid-template-columns: 272px 1fr 413px 1fr 413px;
  grid-template-rows: auto 79px auto 60px auto;

  @media (max-width: $desktop-l - 1) {
    grid-template-columns: 247px 1fr 367px 1fr 367px;
    grid-template-rows: auto 68px auto 42px auto;
  }

  @media (max-width: $desktop-m - 1) {
    grid-template-columns: 212px 1fr 298px 1fr 298px;
    grid-template-rows: auto 68px auto 64px auto;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 239px 1fr 280px;
    grid-template-rows: auto 38px auto 25px auto 16px auto;
  }

  @media (max-width: $tablet - 1) {
    grid-template-columns: 1fr 67%;
    grid-template-rows: auto;
    gap: 25px 28px;
    grid-gap: 25px 28px;
  }
}

.school-screen__intro {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  font-size: 60px;
  line-height: 110%;
  color: $color-2;

  @media (max-width: $desktop-l - 1) {
    font-size: 54px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 47px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 37px;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 3;
    font-size: 28px;
  }
}

.school-screen__program {
  grid-row: 1 / 2;
  grid-column: 5 / 6;

  @media (max-width: $desktop-s - 1) {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.school-screen__program p {
  font-size: 26px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #000000;

  @media (max-width: $desktop-l - 1) {
    font-size: 22px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 18px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 16px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 14px;
  }
}

.school-screen__logos {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 65px;

  @media (max-width: $desktop-l - 1) {
    margin-bottom: 54px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-bottom: 35px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 30px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 11px;
  }
}

.school-screen__logos li {
  margin-right: 33px;

  @media (max-width: $desktop-l - 1) {
    margin-right: 31px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-right: 27px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-right: 10px;
  }

  @media (max-width: $tablet - 1) {
    margin-right: 6px;
  }
}

.school-screen__logos li img {
  @media (max-width: $desktop-s - 1) {
    max-width: 140px;
  }
}

.school-screen__logos li:last-child {
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.logofive {
  width: 100%;
  img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: $tablet - 1) {
    width: auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.school-logo-1 {
  @media (max-width: $desktop-l - 1) {
    width: 126px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 111px;
  }

  @media (max-width: $tablet - 1) {
    width: 71px;
  }
}

.school-logo-2 {
  @media (max-width: $desktop-l - 1) {
    width: 183px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 159px;
  }

  @media (max-width: $tablet - 1) {
    width: 102px;
  }
}

.school-logo-3 {
  width: 111px;
  @media (max-width: $desktop-l - 1) {
    width: 126px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 111px;
  }

  @media (max-width: $tablet - 1) {
    width: 71px;
  }
}

.school-logo-4 {
  width: 159px;
  @media (max-width: $desktop-l - 1) {
    width: 183px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 159px;
  }

  @media (max-width: $tablet - 1) {
    width: 102px;
  }
}

.school-screen__ill {
  grid-row: 3 / 6;
  grid-column: 1 / 2;

  @media (max-width: $desktop-s - 1) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    min-width: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.school-screen__ill img {
  width: 100%;

  @media (max-width: $tablet - 1) {
    min-width: 147px;
    flex-basis: 147px;
  }
}

.school-screen__step-1 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;

  @media (max-width: $desktop-s - 1) {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

.school-screen__step-2 {
  grid-row: 3 / 4;
  grid-column: 5 / 6;

  @media (max-width: $desktop-s - 1) {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}

.school-screen__step-3 {
  grid-row: 5 / 6;
  grid-column: 3 / 4;

  @media (max-width: $desktop-s - 1) {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
}

.school-screen__step-4 {
  grid-row: 5 / 6;
  grid-column: 5 / 6;

  @media (max-width: $desktop-s - 1) {
    grid-row: 7 / 8;
    grid-column: 3 / 4;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }
}

.school-screen__step-number {
  font-size: 70px;
  line-height: 140%;
  font-style: italic;
  color: $color-4;

  @media (max-width: $desktop-s - 1) {
    font-size: 60px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 40px;
    text-align: center;
  }
}

.school-screen__step-text {
  font-size: 26px;
  line-height: 140%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    font-size: 22px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 18px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 16px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 14px;
  }
}
</style>
