<template>
  <section id="main-screen-cost" class="cost-screen">
    <container :sidebarOffset="true">
      <div class="cost-screen__desc">
        В нашем центре вы можете получить помощь от высококлассных специалистов
      </div>
      <div class="cost-screen__wrapper">
        <div class="cost-screen__note">
          *Максимальная длительность приёма не первышает 5ч.
        </div>
        <ul class="price-list">
          <li>
            <div class="price-list__item">
              <div class="price-list__info">
                <div class="price-list__name">
                  Настройка инструмента
                </div>

              </div>
              <ul class="price-list__cost-per-item">
                <li>
                  <div class="price-list__key">            </div>
                  <div class="price-list__value">от 300<span class="ruble">₽</span></div>
                </li>
              </ul>
              <div class="price-list__tools" @click="setPrice('Настройка инструмента', 1200)">
                <out-link mod="price" v-scroll-to="'#main-screen-contacts'" tag="button">Записаться</out-link>
              </div>
            </div>
          </li>
          <li>
            <div class="price-list__item">
              <div class="price-list__info">
                <div class="price-list__name">
                  Ремонтные работы
                </div>
              </div>
              <ul class="price-list__cost-per-item">
                <li>
                  <div class="price-list__key"></div>
                  <div class="price-list__value">от 2 300<span class="ruble">₽</span></div>
                </li>
              </ul>
              <div class="price-list__tools" @click="setPrice('Ремонтные работы', 2300)">
                <out-link mod="price" v-scroll-to="'#main-screen-contacts'" tag="button">Записаться</out-link>
              </div>
            </div>
          </li>
          <li>
            <div class="price-list__item">
              <div class="price-list__info">
                <div class="price-list__name">
                  Реставрационные работы
                </div>
              </div>
              <ul class="price-list__cost-per-item">
                <li>
                  <div class="price-list__key"></div>
                  <div class="price-list__value">от 3 000<span class="ruble">₽</span></div>
                </li>
              </ul>
              <div class="price-list__tools" @click="setPrice('Реставрационные работы', 3000)">
                <out-link mod="price" v-scroll-to="'#main-screen-contacts'" tag="button">Записаться</out-link>
              </div>
            </div>
          </li>
          <li>
            <div class="price-list__item">
              <div class="price-list__info">
                <div class="price-list__name">
                  Обслуживание
                </div>
              </div>
              <ul class="price-list__cost-per-item">
                <li>
                  <div class="price-list__key"></div>
                  <div class="price-list__value">от 500<span class="ruble">₽</span></div>
                </li>
              </ul>
              <div class="price-list__tools" @click="setPrice('Обслуживание', 1200)">
                <out-link mod="price" v-scroll-to="'#main-screen-contacts'" tag="button">Записаться</out-link>
              </div>
            </div>
          </li>
          <li>
            <div class="price-list__item">
              <div class="price-list__info">
                <div class="price-list__name">
                  Инсталляция оборудования
                </div>
              </div>
              <ul class="price-list__cost-per-item">
                <li>
                  <div class="price-list__key"></div>
                  <div class="price-list__value">от 1 200<span class="ruble">₽</span></div>
                </li>
              </ul>
              <div class="price-list__tools" @click="setPrice('Инсталляция оборудования', 1200)">
                <out-link mod="price" v-scroll-to="'#main-screen-contacts'" tag="button">Записаться</out-link>
              </div>
            </div>
          </li>
          <li>
            <div class="price-list__item">
              <div class="price-list__info">
                <div class="price-list__name">
                  Корпоративные курсы
                </div>
              </div>
              <ul class="price-list__cost-per-item">
                <li>
                  <div class="price-list__key">Цена по запросу</div>
                </li>
              </ul>
              <div class="price-list__tools" @click="setPrice('Корпоративные курсы', 0)">
                <out-link mod="price" v-scroll-to="'#main-screen-contacts'" tag="button">Записаться</out-link>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </container>
  </section>
</template>

<script>
import Container from "@/components/Container";
import OutLink from "@/components/OutLink";

export default {
  components: {
    Container,
    OutLink,
  },
  methods: {
    setPrice(name, price) {
      this.$store.commit('setState', {
        key: 'lessonType',
        value: {
          NAME: name,
          PRICE: price,
        },
      })
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.cost-screen {
  position: relative;
  padding: 160px 0 155px;
  background-image: url("~@/assets/images/cost-bg.png");
  background-size: cover;
  background-position: top center;

  @media (max-width: $tablet - 1) {
    background-image: url("~@/assets/images/cost-bg-m.png");
  }

  @media (-webkit-min-device-pixel-ratio: 2) and
    (min-resolution: 192dpi) and
    (max-width: $tablet - 1) {
    background-image: url("~@/assets/images/cost-bg-m@2x.png");
  }

  @media (max-width: $desktop-l - 1) {
    padding: 101px 0 259px;
  }

  @media (max-width: $desktop-m - 1) {
    padding: 143px 0 105px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 92px 0 79px;
  }

  @media (max-width: $tablet - 1) {
    padding: 32px 0 82px;
  }
}

.cost-screen__desc {
  margin-bottom: 93px;
  padding-left: 105px;
  font-size: 60px;
  line-height: 120%;
  color: #000000;

  @media (max-width: $desktop-l - 1) {
    margin-bottom: 114px;
    padding-left: 0;
    font-size: 54px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-bottom: 84px;
    font-size: 47px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 50px;
    font-size: 37px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.cost-screen__wrapper {
  position: relative;
  padding-left: 105px;

  @media (max-width: $desktop-l - 1) {
    padding-left: 109px;
  }

  @media (max-width: $desktop-m - 1) {
    padding-left: 77px;
  }

  @media (max-width: $desktop-s - 1) {
    padding-left: 63px;
  }

  @media (max-width: $tablet - 1) {
    padding-left: 0;
  }
}

.cost-screen__note {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right top;
  font-size: 26px;
  line-height: 100%;
  color: $color-2;

  @media (max-width: $desktop-l - 1) {
    font-size: 22px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 18px;
  }

  @media (max-width: $tablet - 1) {
    position: static;
    transform: none;
    font-size: 14px;
    margin-bottom: 50px;
  }
}

.price-list > li::after {
  display: block;
  margin: 40px 0;
  border-bottom: 1px solid #000000;
  content: "";

  @media (max-width: $tablet - 1) {
    margin: 30px 0;
  }
}

.price-list > li:last-child::after {
  display: none;
}

.price-list__item {
  display: grid;
  grid-template-columns: 1fr minmax(470px, max-content);
  grid-template-rows: auto;
  grid-gap: 0 20px;
  gap: 0 20px;

  @media (max-width: $desktop-l - 1) {
    grid-template-columns: 1fr minmax(315px, max-content);
  }

  @media (max-width: $desktop-m - 1) {
    grid-template-columns: 1fr minmax(282px, max-content);
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr minmax(100px, max-content);
  }

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.price-list__info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media (max-width: $tablet - 1) {
    margin-bottom: 24px;
  }
}

.price-list__cost-per-item {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.price-list__tools {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
}

.price-list__name {
  font-size: 40px;
  line-height: 140%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    margin-bottom: 11px;
    font-size: 36px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-bottom: 8px;
    font-size: 30px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 5px;
    font-size: 28px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 7px;
    font-size: 23px;
  }
}

.price-list__desc {
  font-size: 20px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.4);

  @media (max-width: $desktop-s - 1) {
    font-size: 16px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 14px;
  }
}

.price-list__cost-per-item > li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 14px;
  white-space: nowrap;

  @media (max-width: $desktop-s - 1) {
    display: block;
    margin-bottom: 26px;
  }

  @media (max-width: $tablet - 1) {
    display: flex;
    align-items: baseline;
    margin-bottom: 12px;
  }
}

.price-list__cost-per-item > li:last-child {
  margin-bottom: 0;
}

.price-list__key {
  min-width: 200px;
  padding-top: 0.8em;
  font-size: 24px;
  line-height: 140%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    padding-top: 0.7em;
  }

  @media (max-width: $desktop-m - 1) {
    min-width: 178px;
    font-size: 18px;
  }

  @media (max-width: $desktop-s - 1) {
    min-width: 0;
    font-size: 16px;
  }

  @media (max-width: $tablet - 1) {
    padding-top: 0;
    font-size: 14px;
  }
}

.price-list__value {
  font-size: 40px;
  line-height: 140%;
  color: black;
  font-style: italic;
  padding-left: 10px;

  @media (max-width: $desktop-l - 1) {
    font-size: 36px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 30px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 28px;
  }

  @media (max-width: $tablet - 1) {
    margin-left: auto;
    font-size: 24px;
  }
}

.price-list__tools {
  margin-top: 52px;

  @media (max-width: $desktop-l - 1) {
    margin-top: 48px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-top: 45px;
  }

  @media (max-width: $tablet - 1) {
    margin-top: 24px;
  }
}
</style>
