<template>
  <section id="main-screen-first" class="first-screen">
    <container :sidebarOffset="true">
      <div class="first-screen__row">
        <div class="first-screen__bg"></div>
        <h1 class="first-screen__heading" v-if="!$store.state.isMobile">
          <img src="@/assets/images/top-sec-text.svg" alt="">
        </h1>
        <h1 class="first-screen__heading" v-if="$store.state.isMobile">
          <img src="@/assets/images/top-sec-text_m.svg" alt="">
        </h1>
        <div class="first-screen__tools">
          <my-button
            theme="primary"
            size="l"
            class="first-screen__btn"
            v-show="!$store.state.isMobile"
            v-scroll-to="'#main-screen-contacts'"
            >ОСТАВИТЬ ЗАЯВКУ</my-button
          >
          <my-button
            theme="secondary"
            size="one-size-s"
            class="first-screen__btn"
            v-show="$store.state.isMobile"
            v-scroll-to="'#main-screen-contacts'"
            >ОСТАВИТЬ ЗАЯВКУ</my-button
          >
        </div>
      </div>
    </container>
  </section>
</template>

<script>
import Container from "@/components/Container";
import MyButton from "@/components/Button";

export default {
  components: {
    Container,
    MyButton,
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.first-screen {
  position: relative;
}

.first-screen__row {
  display: grid;
  align-content: center;
  min-height: 100vh;
  padding: 150px 0 150px;

  @media (max-width: $tablet - 1) {
    align-content: start;
    grid-template-rows: auto 1fr auto;
    padding-top: 83px;
    padding-bottom: 36px;
  }
}

.first-screen__row > * {
  flex-grow: 1;
}

.first-screen__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 51%;
  height: 100%;
  background-image: url("~@/assets/images/top_section_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;

  @media (max-width: $tablet - 1) {
    width: 100%;
    background-image: url("~@/assets/images/top_section_image.png");
  }

  @media (-webkit-min-device-pixel-ratio: 2) and
    (min-resolution: 192dpi) and
    (max-width: $tablet - 1) {
    background-image: url("~@/assets/images/top_section_image.png");
  }
}

.first-screen__heading {
  position: relative;
  font-size: 88px;
  line-height: 100%;
  color: #000000;


  @media (max-width: $desktop-s - 1) {
    img {
      width: 584px;
    }
  }

  @media (max-width: $tablet - 1) {
    img {
      max-width: 584px;
      width: 100%;
    }
  }
}

.first-screen__desc {
  max-width: 706px;
  margin-top: 17px;
  font-size: 40px;
  line-height: 130%;
  color: #000000;

  @media (max-width: $desktop-l - 1) {
    margin-top: 25px;
    font-size: 36px;
  }

  @media (max-width: $desktop-m - 1) {
    max-width: 608px;
    font-size: 30px;
  }

  @media (max-width: $desktop-s - 1) {
    max-width: 430px;
    font-size: 26px;
  }

  @media (max-width: $tablet - 1) {
    max-width: 215px;
    margin: 25px auto 0;
    font-size: 20px;
    text-align: center;
  }
}

.first-screen__tools {
  margin-top: 90px;

  @media (max-width: $desktop-l - 1) {
    margin-top: 58px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-top: 55px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-top: 47px;
  }

  @media (max-width: $tablet - 1) {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
}

.first-screen__btn {
  width: 300px;

  @media (max-width: $desktop-l - 1) {
    width: 270px;
  }

  @media (max-width: $tablet - 1) {
    width: 216px;
  }
}
</style>
