<template>
  <section id="main-screen-news" class="news-screen">
    <container :sidebarOffset="true">
      <div class="news-screen__grid" v-if="newsList.length">
        <div
          class="news-screen__cell"
          v-for="(item, index) in newsListFiltered"
          :key="`announce-${index}`"
        >
          <news-card
            :id="item.ID"
            :size="index === 0 ? 'l' : 's'"
            :image="
              index === 0 && item.PREVIEW_PICTURE_SRC !== null
                ? item.PREVIEW_PICTURE_SRC
                : ''
            "
            :date="item.DATE_CREATE.substring(0, 10)"
            :tag="item.PARENT_SECTION_NAME"
            :heading="item['~NAME']"
            :text="item['~PREVIEW_TEXT']"
            :video="
              item.PROPERTY_VIDEO_VALUE !== null
                ? item.PROPERTY_VIDEO_VALUE
                : ''
            "
          ></news-card>
        </div>
      </div>
    </container>
  </section>
</template>

<script>
import Container from "@/components/Container";
import NewsCard from "@/components/NewsCard";

export default {
  components: {
    Container,
    NewsCard,
  },
  data() {
    return {
      newsList: [],
    };
  },
  computed: {
    newsListFiltered() {
      return this.newsList.filter((item, index) => index < 3);
    },
  },
  methods: {
    async getNews() {
      const res = await fetch(
        process.env.NODE_ENV === "development"
          ? "news.json"
          : "https://studyarabic.ru/include/get_news_main.php"
      );
      const data = await res.json();
      this.newsList = data;
    },
  },
  beforeMount() {
    this.getNews();
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.news-screen {
  padding: 150px 0 161px;

  @media (max-width: $desktop-l - 1) {
    padding: 120px 0 125px;
  }

  @media (max-width: $desktop-m - 1) {
    padding: 90px 0;
  }

  @media (max-width: $tablet - 1) {
    padding: 70px 0;
  }
}

.news-screen__grid {
  display: grid;
  grid-template-columns: 1fr 413px;
  grid-template-rows: min-content 1fr;
  grid-gap: 0 54px;
  gap: 0 54px;

  @media (max-width: $desktop-l - 1) {
    grid-template-columns: 1fr 368px;
    grid-gap: 0 38px;
    gap: 0 38px;
  }

  @media (max-width: $desktop-m - 1) {
    grid-template-columns: 1fr 288px;
    grid-gap: 0 46px;
    gap: 0 46px;
  }

  @media (max-width: $desktop-s - 1) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 16px;
    gap: 0 16px;
  }

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.news-screen__cell:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  max-width: 694px;

  @media (max-width: $desktop-l - 1) {
    max-width: 620px;
  }

  @media (max-width: $desktop-m - 1) {
    max-width: 584px;
  }

  @media (max-width: $desktop-s - 1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-width: none;
  }

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 2;
  }
}

.news-screen__cell:nth-child(2),
.news-screen__cell:nth-child(3) {
  grid-column: 2 / 3;

  @media (max-width: $tablet - 1) {
    grid-column: 1 / 2;
  }
}

.news-screen__cell:nth-child(2) {
  grid-row: 1 / 2;

  @media (max-width: $desktop-s - 1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.news-screen__cell:nth-child(3) {
  grid-row: 2 / 3;
}

.news-screen__cell::before {
  content: "";
  display: block;
  border-top: 1px solid #000000;
  margin: 42px 0;

  @media (max-width: $desktop-s - 1) {
    margin: 30px 0;
  }
}

.news-screen__cell:nth-child(1)::before {
  display: none;
}

.news-screen__cell:nth-child(2)::before {
  @media (min-width: $desktop-s - 1) {
    display: none;
  }
}
</style>
