<template>
  <section id="main-screen-mentors" class="mentors-screen">
    <container :sidebarOffset="true">
      <div class="mentors-screen__heading">
        У нас работают мастера с большим опытом за плечами
      </div>
      <ul class="mentors-screen__list" v-if="mentors.length">
        <li v-for="(item, index) in mentors" :key="`mentor-${index}`">
          <mentor
            :image="item.PREVIEW_PICTURE_SRC"
            :name="item['~NAME']"
            :desc="item['~PREVIEW_TEXT']"
          ></mentor>
        </li>
      </ul>
    </container>
  </section>
</template>

<script>
import Container from "@/components/Container";
import Mentor from "@/components/Mentor";

export default {
  components: {
    Container,
    Mentor,
  },
  data() {
    return {
      mentors: [],
    };
  },
  methods: {
    async getMentors() {
      const res = await fetch(
        process.env.NODE_ENV === "development"
          ? "mentors.json"
          : "https://studyarabic.ru/include/get_teachers.php"
      );
      const data = await res.json();
      this.mentors = data;
    },
  },
  beforeMount() {
    this.getMentors();
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.mentors-screen {
  padding: 150px 0 200px;

  @media (max-width: $desktop-l - 1) {
    padding: 140px 0 180px;
  }

  @media (max-width: $desktop-m - 1) {
    padding: 120px 0 160px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 90px 0 68px;
  }

  @media (max-width: $tablet - 1) {
    padding: 60px 0 80px;
  }
}

.mentors-screen__heading {
  margin-bottom: 64px;
  font-size: 80px;
  line-height: 112%;
  color: #000000;

  @media (max-width: $desktop-l - 1) {
    margin-bottom: 80px;
    font-size: 66px;
  }

  @media (max-width: $desktop-m - 1) {
    margin-bottom: 42px;
    font-size: 56px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 60px;
    font-size: 45px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 35px;
    font-size: 35px;
  }
}

.mentors-screen__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -30px -10px;
}

.mentors-screen__list li {
  flex: 0 0 25%;
  padding: 30px 10px;

  @media (max-width: $desktop-s - 1) {
    flex: 0 0 33.3%;
  }

  @media (max-width: $tablet - 1) {
    flex: 0 1 50%;
    max-width: 159px;
  }
}
</style>
