<template>
  <div class="slider">
    <ul>
      <li
        :class="['slider-item', { active: index === 0 }]"
        v-for="(image, index) in images"
        :key="`slider-image-${index}`"
      >
        <div class="image-holder">
          <div
            class="image-container"
            :style="`background-image: url(${image.PREVIEW_PICTURE_SRC})`"
          ></div>
        </div>
      </li>
    </ul>
    <div class="slider__tools">
      <container>
        <div class="slider__tools-wrapper">
          <ul>
            <li>
              <button-arrow
                mod="backwards"
                @click="showPreviousItem"
              ></button-arrow>
            </li>
            <li>
              <button-arrow mod="forwards" @click="showNextItem"></button-arrow>
            </li>
          </ul>
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import Container from "@/components/Container";
import ButtonArrow from "@/components/ButtonArrow";

export default {
  components: {
    Container,
    ButtonArrow,
  },
  props: {
    images: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      count: 0,
      items: [],
    };
  },
  computed: {
    itemCount() {
      return this.items.length;
    },
  },
  methods: {
    showNextItem() {
      this.items[this.count].classList.remove("active");

      if (this.count < this.itemCount - 1) {
        this.count++;
      } else {
        this.count = 0;
      }

      this.items[this.count].classList.add("active");
    },
    showPreviousItem() {
      this.items[this.count].classList.remove("active");

      if (this.count > 0) {
        this.count--;
      } else {
        this.count = this.itemCount - 1;
      }

      this.items[this.count].classList.add("active");
    },
  },
  updated() {
    this.items = document.querySelectorAll(".slider-item");
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.slider {
  position: relative;
}

.slider-item {
  display: none;
}

.slider-item.active {
  display: block;
}

.active .image-holder::before {
  position: absolute;
  content: "";
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f6f3;
  transform-origin: 100% 50%;
  animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.image-container {
  height: 749px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $desktop-l - 1) {
    height: 675px;
  }

  @media (max-width: $desktop-m - 1) {
    height: 599px;
  }

  @media (max-width: $desktop-s - 1) {
    height: 329px;
  }

  @media (max-width: $tablet - 1) {
    height: 281px;
  }
}

.slider__tools {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 37px;

  @media (max-width: $desktop-l - 1) {
    bottom: 40px;
  }

  @media (max-width: $desktop-m - 1) {
    bottom: 50px;
  }

  @media (max-width: $desktop-s - 1) {
    bottom: 20px;
  }
}

.slider__tools-wrapper {
  display: flex;
  justify-content: flex-end;
}

.slider__tools ul {
  display: flex;
  width: 391px;

  @media (max-width: $desktop-l - 1) {
    width: 367px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 297px;
  }

  @media (max-width: $desktop-s - 1) {
    width: 142px;
  }

  @media (max-width: $tablet - 1) {
    width: auto;
  }
}

.slider__tools ul li {
  margin-right: 6px;
}

.slider__tools ul li:last-child {
  margin-right: 0;
}
</style>
