<template>
  <div class="mentor">
    <div class="mentor__image" :style="`background-image: url(${image})`"></div>
    <div class="mentor__name">{{ name }}</div>
    <div class="mentor__desc">{{ desc }}</div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
    desc: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.mentor {
  max-width: 232px;

  @media (max-width: $desktop-s - 1) {
    max-width: 182px;
  }

  @media (max-width: $desktop-s - 1) {
    max-width: 139px;
  }
}

.mentor__image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 28px;
  filter: grayscale(100%);

  @media (max-width: $desktop-s - 1) {
    width: 120px;
    height: 120px;
    margin-bottom: 17px;
  }
}

.mentor__name {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 120%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    margin-bottom: 20px;
    font-size: 28px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 7px;
    font-size: 23px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 13px;
    font-size: 21px;
  }
}

.mentor__desc {
  font-size: 20px;
  line-height: 140%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    font-size: 16px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 14px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 12px;
  }
}

</style>