<template>
  <nav class="mobile-menu">
    <ul>
      <li
        v-for="(item, index) in $store.state.mainMenu"
        :key="`mobile-menu-item-${index}`"
      >
        <div class="mobile-menu__heading">
          <router-link :to="item.to">
            <div class="mobile-menu__row">
              <div class="mobile-menu__name">{{ item.name }}</div>
              <div class="mobile-menu__helper">
                <icon-base width="14" height="15"><icon-union /></icon-base>
              </div>
            </div>
          </router-link>
        </div>
        <div
          class="mobile-menu__sub"
          v-if="item.id === 'main' && $route.name === 'Home'"
        >
          <nav class="mobile-menu__nav">
            <ul>
              <li
                v-for="(item, index) in $store.state.sideMenu.filter(
                (item, index) => index !== 0
              )"
                :key="`main-page-item-${index}`"
                :class="{ active: $store.state.visibleSection === item.id }"
              >
                <button
                  type="button"
                  v-scroll-to="`#${item.id}`"
                >
                  {{ item.name }}
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconUnion from "@/components/icons/IconUnion";

export default {
  components: {
    IconBase,
    IconUnion,
  },
};
</script>

<style lang="scss">
.mobile-menu {
  position: fixed;
  top: 57px;
  z-index: 5;
  left: 0;
  width: 100%;
  height: calc(100vh - 57px);
  overflow-y: auto;  
  background-color: white;
}

.mobile-menu ul {
  padding: 22px 16px 48px;
}

.mobile-menu > ul > li {
  margin-bottom: 35px;
}

.mobile-menu > ul > li:last-child {
  margin-bottom: 0;
}

.mobile-menu__nav > ul {
  padding: 10px 0 10px 6px;
}

.mobile-menu__nav > ul > li {
  padding: 10px 0;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
}

.mobile-menu__nav > ul > li.active {
  color: black;
}

.mobile-menu__nav > ul > li:last-child {
  margin-bottom: 0;
}

.mobile-menu__row {
  display: flex;
  align-items: center;
}

.mobile-menu__name {
  font-size: 18px;
  line-height: 100%;
  color: black;
}

.mobile-menu__helper {
  margin-left: auto;
  padding-left: 10px;
}

.mobile-menu__helper svg {
  display: block;
}
</style>
