<template>
  <div :class="['modal', mod]">
    <div class="modal__window">
      <div class="modal__content">
        <div class="modal__heading">{{ heading }}</div>
        <div class="modal__text">{{ text }}</div>
        <div class="modal__footer">
          <my-button
            @click="$emit('close')"
            theme="primary"
            size="m"
            class="modal__btn"
            >Вернуться назад</my-button
          >
        </div>
        <button class="modal__close" type="button" @click="$emit('close')">
          <icon-base><icon-close /></icon-base>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import MyButton from "@/components/Button";
import IconBase from "@/components/icons/IconBase";
import IconClose from "@/components/icons/IconClose";

export default {
  props: {
    mod: {
      type: String,
      default: "",
    },
    heading: {
      type: String,
      default: "",
    },
    text: {
      type: String,
      default: "",
    },
  },
  components: {
    MyButton,
    IconBase,
    IconClose,
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;

  overflow: auto;

  width: 100%;
  height: 100vh;
}

.modal::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
  content: "";
}

.modal__window {
  flex: 0 0 100%;
  max-width: 100%;
  align-self: center;
  margin: auto;
  padding: 10px;
}

.modal__content {
  position: relative;
}

.CTA .modal__content {
  margin: 0 auto;
  max-width: 584px;
  padding: 68px 50px 53px;
  background: #ffffff;

  @media (max-width: $desktop-s - 1) {
    max-width: 320px;
    padding: 47px 26px 25px;
  }
}

.modal__heading {
  margin-bottom: 9px;
  font-size: 37px;
  line-height: 110%;
  color: $color-2;

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 14px;
    font-size: 30px;
  }
}

.modal__text {
  font-size: 18px;
  line-height: 125%;
  color: $color-3;

  @media (max-width: $desktop-s - 1) {
    font-size: 15px;
  }
}

.modal__footer {
  margin-top: 44px;
}

.modal__btn {
  width: 100%;
  max-width: 240px;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
}

.modal__close svg {
  width: 15px;
  height: 15px;
}
</style>
