<template>
  <div :class="['news-card', size]">
    <div class="news-card__image-wrapper" v-if="image.length">
      <div
        class="news-card__image"
        :style="`background-image: url(${image})`"
      ></div>
    </div>
    <div class="news-card__info" v-if="date.length && tag.length">
      <div class="news-card__info-cell" v-if="date.length">{{ date }}</div>
      <div class="news-card__info-cell video" v-if="video.length">
        <icon-base :width="25" :height="25" viewBox="0 0 25 25"><icon-video /></icon-base>
      </div>
      <div class="news-card__info-cell" v-if="tag.length">{{ tag }}</div>
    </div>
    <div class="news-card__heading" v-if="heading.length">
      <router-link
          :to="{ name: 'NewsDetail', params: { guid: id }}"
      >
        {{ heading }}
      </router-link>
    </div>
    <div class="news-card__text" v-if="text.length" v-line-clamp="4" v-html="text" style="word-break: normal !important;">
    </div>
    <div class="news-card__tools" v-if="more">
      <router-link :to="{ name: 'NewsDetail', params: { guid: id }}">
        <my-button
          tag="span"
          theme="primary"
          size="m"
          class="news-card__btn"
          v-if="size === 'l'"
          v-show="!$store.state.isTablet"
          >ПОДРОБНЕЕ</my-button
        >
      </router-link>
      <router-link
        :to="{ name: 'NewsDetail', params: { guid: id }}"
        v-show="size !== 'l' || (size === 'l' && $store.state.isTablet)"
        class="news-card__readmore"
      >
        <icon-base
          :width="$store.state.isTablet ? 33 : 38"
          :height="$store.state.isTablet ? 33 : 38"
          ><icon-union
        /></icon-base>
      </router-link>
    </div>
  </div>
</template>

<script>
import MyButton from "@/components/Button";
import IconBase from "@/components/icons/IconBase";
import IconUnion from "@/components/icons/IconUnionUp";
import IconVideo from "@/components/icons/IconVideo";

export default {
  components: {
    MyButton,
    IconBase,
    IconUnion,
    IconVideo,
  },
  props: {
    id: {
      type: String,
      default: ""
    },
    size: {
      type: String,
      default: "",
    },
    image: {
      type: String,
      default: "",
    },
    video: {
      type: String,
      default: "",
    },
    date: {
      type: String,
      default: "",
    },
    tag: {
      type: String,
      default: "",
    },
    heading: {
      type: String,
      default: "",
    },
    text: {
      type: String,
      default: "",
    },
    more: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.news-card__image-wrapper {
  overflow: hidden;
}

.news-card__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-card.l .news-card__image {
  height: 409px;

  @media (max-width: $desktop-m - 1) {
    height: 327px;
  }

  @media (max-width: $tablet - 1) {
    height: 175px;
  }
}

.news-card__info {
  display: flex;
  font-size: 16px;
  line-height: 140%;
  color: $color-3;

  @media (max-width: $desktop-m - 1) {
    font-size: 13px;
  }
}

* + .news-card__info {
  margin: 25px 0 0;

  @media (max-width: $tablet - 1) {
    margin: 15px 0 0;
  }
}

.news-card__info-cell {
  display: flex;
  align-items: center;
}

.news-card__info-cell::after {
  display: block;
  margin: 0 1em;
  content: "|";
}

.news-card__info-cell:last-child::after {
  display: none;
}

.news-card__info-cell.video:after {
  content: "";
  margin: 0 1em 0 0;
}

.news-card__heading {
  color: $color-3;
}

.news-card.l .news-card__heading {
  font-size: 36px;
  line-height: 46px;

  @media (max-width: $desktop-l - 1) {
    font-size: 32px;
    line-height: 41px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 27px;
    line-height: 34px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 23px;
    line-height: 110%;
  }
}

.news-card.s .news-card__heading {
  font-size: 32px;
  line-height: 110%;

  @media (max-width: $desktop-m - 1) {
    font-size: 27px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 24px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 22px;
    line-height: 110%;
  }
}

.news-card.s * + .news-card__heading {
  margin-top: 8px;
}

.news-card.l * + .news-card__heading {
  margin-top: 16px;

  @media (max-width: $desktop-s - 1) {
    margin-top: 10px;
  }
}

.news-card__text {
  color: black;
}

.news-card.s .news-card__text {
  font-size: 18px;
  line-height: 125%;

  @media (max-width: $desktop-m - 1) {
    font-size: 16px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 14px;
  }
}

.news-card.s * + .news-card__text {
  margin-top: 15px;
}

.news-card.l .news-card__text {
  font-size: 20px;
  line-height: 130%;

  @media (max-width: $desktop-l - 1) {
    font-size: 18px;
  }

  @media (max-width: $desktop-m - 1) {
    font-size: 16px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 14px;
    line-height: 125%;
  }
}

.news-card.l * + .news-card__text {
  margin-top: 12px;
}

.news-card.s * + .news-card__tools {
  margin-top: 20px;

  @media (max-width: $desktop-s - 1) {
    margin-top: 15px;
  }
}

.news-card.l * + .news-card__tools {
  margin-top: 40px;

  @media (max-width: $desktop-s - 1) {
    margin-top: 15px;
  }
}

.news-card__btn {
  width: 279px;

  @media (max-width: $desktop-l - 1) {
    width: 240px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 190px;
  }
}

.news-card__readmore svg {
  display: inline-block;
  vertical-align: top;
  transition: all 0.2s $text-easing;
}

@media (hover: hover) and (pointer: fine) {
  .news-card__readmore:hover svg {
    transform: rotate(45deg);
  }
}
</style>
