<template>
  <component
    :is="tag"
    :href="href"
    :target="target"
    :class="['out-link', mod ? mod : '']"
  >
    <span class="out-link__name"><slot></slot></span>
    <span class="out-link__helper">
      <icon-base><icon-union /></icon-base>
    </span>
  </component>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconUnion from "@/components/icons/IconUnionUp";

export default {
  components: {
    IconBase,
    IconUnion,
  },
  props: {
    mod: {
      type: String,
      default: "",
    },
    target: {
      type: String,
      default: "",
    },
    href: {
      type: String,
      default: "#",
    },
    tag: {
      type: String,
      default: "a",
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.out-link {
  display: inline-flex;
  align-items: center;
  color: $color-2;
  transition: color 0.2s $text-easing;
}

@media (hover: hover) and (pointer: fine) {
  .out-link:hover {
    color: $color-1;
  }
}

.out-link.price {
  color: black;
}

@media (hover: hover) and (pointer: fine) {
  .out-link.price:hover {
    color: $color-1;
  }
}

.out-link__name {
  font-size: 15px;
  line-height: 17px;

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.price .out-link__name {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media (max-width: $desktop-m - 1) {
    font-size: 16px;
  }
}

.contacts .out-link__name {
  font-size: 24px;
  line-height: 28px;

  @media (max-width: $desktop-m - 1) {
    font-size: 16px;
  }
}

.out-link__helper {
  margin-left: 4px;
}

.out-link__helper svg {
  display: block;
  transition: all 0.2s $text-easing;
  width: 16px;
  height: 16px;
}

@media (hover: hover) and (pointer: fine) {
  .out-link:hover svg {
    transform: rotate(45deg);
  }
}

.price .out-link__helper svg {
  width: 25px;
  height: 25px;
}
</style>
