<template>
  <div class="partners-card">
    <figure class="partners-card__img">
      <img :src="image" :alt="name" />
    </figure>
    <div class="partners-card__content">
      <h1>{{ name }}</h1>
      <p v-line-clamp="5" style="word-break: normal !important;">
        {{ desc }}
      </p>
      <div class="partners-card__actions">
        <div class="news-card__tools">
          <a :href="link" class="news-card__readmore">
            Подробнее
            <icon-base
              :width="$store.state.isTablet ? 21 : 26"
              :height="$store.state.isTablet ? 21 : 26"
              ><icon-union
            /></icon-base>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconUnion from "@/components/icons/IconUnionUp";

export default {
  components: {
    IconBase,
    IconUnion,
  },
  props: {
    name: {
      type: String,
      default: "",
    },
    desc: {
      type: String,
      default: "",
    },
    image: {
      type: String,
      default: "",
    },
    link: {
      type: String,
      default: "#",
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';


.partners-card {
  width: 702px;
  background: #FFF;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .partners-card__img {
    width: 100%;
    max-width: 255px;
    margin: 0;
    max-height: 500px;
    overflow: hidden;

    @media (max-width: $desktop-s - 1) {
      max-width: 100%;
    }
  }

  .partners-card__img img {
    width: auto;
    height: 100%;
    margin: 0;
  }

  @media (max-width: 1599px) {
    width: 584px;
    margin: 5px;
  }

  @media (max-width: 1279px) {
    width: 280px;
    flex-flow: column;
    .partners-card__img {
      width: 100%;
      margin: 0;
      max-height: 310px;
      overflow: hidden;
    }
    .partners-card__img img {
      width: auto;
      max-height: 100%;
      margin: 0;
    }
  }

  @media (max-width: 699px) {
    align-self: center;
    justify-self: center;
    width: 280px;
    margin: 20px auto;
  }

  .partners-card__content {
    margin: 30px;
    font-family: $font-1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 55%;
    h1 {
      color: #000;
      font-size: 40px;
      margin: 20px 0;
    }
    p { color: rgba(0, 0, 0, 0.6); }

    @media (max-width: 1599px) {
      margin: 25px;
    }
    @media (max-width: 1100px) {
      max-width: 100%;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
    }

    @media (max-width: 1280px) {
      max-width: 100%;
      h1 { font-size: 25px; margin: 5px 0; }
      p { font-size: 15px; }
    }
  }

  .partners-card__actions {
    margin-top: 30%;
    font-size: 20px;
    text-transform: uppercase;
    @media (max-width: 1599px) {
      margin-top: 15%;
    }
  }
}
</style>
