<template>
  <container mod="wide">
    <aside class="sidebar" v-if="this.$store.state.sideBar">
      <section class="sidebar__section">
        <nav class="sidebar__nav">
          <ul>
            <li
              v-for="(item, index) in $store.state.sideMenu.filter(
                (item, index) => index !== 0
              )"
              :key="`sidebar-item-${index}`"
              :class="{ active: $store.state.visibleSection === item.id }"
            >
              <button type="button" v-scroll-to="`#${item.id}`">
                {{ item.name }}
              </button>
            </li>
          </ul>
        </nav>
      </section>
      <section
        class="sidebar__section sidebar__section--footer sidebar__section--down"
      >
        <nav class="sidebar__social-nav">
          <ul>
            <li>
              <out-link
                target="_blank"
                href="https://instagram.com/studyarabicru?igshid=96crythtrzux"
                >Instagram</out-link
              >
            </li>
            <li>
              <out-link
                target="_blank"
                href="https://www.facebook.com/studyarabicru/"
                >Facebook</out-link
              >
            </li>
            <li>
              <out-link target="_blank" href="https://vk.com/studyarabicru"
                >VK</out-link
              >
            </li>
          </ul>
        </nav>
      </section>
      <section class="sidebar__section sidebar__section--footer">
        <div class="sidebar__text">
          <p>
            +7 (999) 379-17-59
          </p>
          <p>
            <a href="mailto:google@google.ru" target="_blank"
              >support@musicstore.ru</a
            >
          </p>
          <p>
            Ставропольский край, город Ставрополь, ул. 45 Параллель, дом 2А, этаж 1
          </p>
        </div>
      </section>
    </aside>
  </container>
</template>

<script>
import Container from "@/components/Container";
import OutLink from "@/components/OutLink";

export default {
  components: {
    OutLink,
    Container,
  },
  computed: {
    sidebarWidth() {
      return this.$store.state.logoWidth;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.sidebar {
  position: fixed;
  top: 130px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 244px;
  min-height: calc(100vh - 130px - 50px);

  @media (max-width: $desktop-l - 1) {
    width: 216px;
  }

  @media (max-width: $desktop-m - 1) {
    width: 184px;
  }
}

.sidebar__section {
  padding-bottom: 60px;
}

.sidebar__section:last-child {
  padding-bottom: 0;
}

.sidebar__section--down {
  margin-top: auto;
}

.sidebar__section--footer {
  padding-top: 31px;
  padding-bottom: 77px;
  border-top: 1px solid #000000;

  @media (max-width: $desktop-m - 1) {
    padding-bottom: 83px;
  }
}

.sidebar__nav ul li {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.sidebar__nav ul li.active {
  color: black;
}

.sidebar__nav ul li:last-child {
  margin-bottom: 0;
}

.sidebar__social-nav ul li {
  margin-bottom: 15px;
}

.sidebar__social-nav ul li:last-child {
  margin-bottom: 0;
}

.sidebar__text {
  font-size: 15px;
  line-height: 130%;
  color: $color-2;

  @media (max-width: $desktop-m - 1) {
    font-size: 14px;
  }
}

.sidebar__text p {
  margin-bottom: 1.2em;
}

.sidebar__text p:last-child {
  margin-bottom: 0;
}
</style>
