<template>
  <section class="test-screen">
    <div v-if="!showResult">
      <div class="test-screen__heading">
        Определите свой уровень<br />
        владения арабским языком
      </div>
      <div class="test-screen__desc">
        Отметьте галочкой каждое слово, которое вы знаете. Пожалуйста, не
        отмечайте слова, которые вы видели ранее, но не уверены в их значении
      </div>
      <div class="test-screen__step-info">
        <div class="test-screen__pre">
          Шаг
        </div>
        <div class="test-screen__num" v-if="steps">
          {{ currentStep + 1 }}/{{ steps.length }}
        </div>
      </div>
      <div class="test-screen__step">
        <ul class="test-screen__words" v-if="steps">
          <li
            v-for="(item, index) in steps[currentStep]"
            :key="`step-${currentStep}-word-${index}`"
          >
            <div
              :class="['check', { checked: item.checked }]"
              @click="checkHandler([item, index])"
            >
              <span class="check__box"
                ><icon-base v-if="item.checked"><icon-tick /></icon-base
              ></span>
              <span class="check__name">{{ item.name }}</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="test-screen__footer">
        <ul class="test-screen__tools">
          <li>
            <my-button
              theme="primary"
              size="xl"
              class="test-screen__btn"
              @click="moveForward"
              >{{ nextButtonText }}</my-button
            >
          </li>
          <li>
            <my-button
              theme="transparent"
              size="xl"
              class="test-screen__btn"
              @click="resetAll"
              >Сбросить все ответы</my-button
            >
          </li>
        </ul>
      </div>
    </div>
    <div v-else>
      <div class="test-screen__result" v-if="result && showResult">
        <div class="test-screen__result-heading">
          Поздравляем, Ваш уровень {{ level.toUpperCase() }}!
        </div>
        <div class="test-screen__result-text" v-html="result[level].text"></div>
      </div>
      <div class="test-screen__form">
        <ul>
          <li class="test-screen__input-cell">
            <text-input
              label="Имя"
              v-model="name"
              :error="errors.name.text"
            ></text-input>
          </li>
          <li class="test-screen__input-cell">
            <text-input
              label="Телефон"
              v-model="phone"
              :error="errors.phone.text"
              :isPhone="true"
            ></text-input>
          </li>
        </ul>
        <div class="test-screen__submit-wrapper">
          <my-button
            theme="primary"
            size="m"
            class="test-screen__submit"
            @click="submitHandler"
            >Оставить заявку</my-button
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import MyButton from "@/components/Button";
import IconBase from "@/components/icons/IconBase";
import IconTick from "@/components/icons/IconTick";
import TextInput from "@/components/TextInput";
import { required, helpers } from "vuelidate/lib/validators";

const name = helpers.regex("name", /^[A-Za-zА-Яа-я\s]*$/);
const tel = helpers.regex("tel", /^[0-9+]*$/);

export default {
  components: {
    MyButton,
    IconBase,
    IconTick,
    TextInput,
  },
  data() {
    return {
      currentStep: 0,
      showResult: false,
      steps: null,
      result: null,
      name: "",
      phone: "",
      errors: {
        name: {
          text: "",
        },
        phone: {
          text: "",
        },
      },
    };
  },
  computed: {
    checked() {
      let all = [];

      if (this.steps) {
        this.steps.forEach((item) => {
          all = all.concat(item);
        });

        return all.filter((item) => item.checked).length;
      }

      return 0;
    },
    level() {
      if (this.checked >= 28 && this.checked <= 54) {
        return "a1";
      } else if (this.checked >= 55 && this.checked <= 81) {
        return "a2";
      } else if (this.checked >= 82 && this.checked <= 108) {
        return "b1";
      } else if (this.checked >= 109) {
        return "b2";
      }
      return "a0";
    },
    nextButtonText() {
      if (this.steps) {
        return this.currentStep < this.steps.length - 1
          ? "Следующий шаг"
          : "Показать результат";
      }
      return "Следующий шаг";
    },
  },
  watch: {
    name: {
      handler(val) {
        if (val.length) {
          this.$v.name.$touch();
        }
      },
    },
    phone: {
      handler(val) {
        if (val.length) {
          this.$v.phone.$touch();
        }
      },
    },
    $v: {
      deep: true,
      handler(val) {
        if (val.name.$dirty && !val.name.required) {
          this.errors.name.text = "Заполните поле Имя";
        } else if (val.name.$dirty && !val.name.name) {
          this.errors.name.text =
            "Имя должно состоять из символов кириллицы или латиницы";
        } else {
          this.errors.name.text = "";
        }

        if (val.phone.$dirty && !val.phone.required) {
          this.errors.phone.text = "Заполните поле Телефон";
        } else if (val.phone.$dirty && !val.phone.tel) {
          this.errors.phone.text =
            "Номер телефона должен содержать цифры и символ +";
        } else {
          this.errors.phone.text = "";
        }
      },
    },
  },
  validations: {
    name: {
      required,
      name,
    },
    phone: {
      required,
      tel,
    },
  },
  methods: {
    async getWords() {
      const res = await fetch("test.json");
      const data = await res.json();
      this.steps = data.words.map((item) =>
        item.map((item2) => ({ name: item2, checked: false }))
      );
      this.result = data.result;
    },
    getNextStep() {
      return this.currentStep < this.steps.length - 1
        ? (this.currentStep += 1)
        : 0;
    },
    checkHandler(data) {
      this.steps[this.currentStep][data[1]].checked = !this.steps[
        this.currentStep
      ][data[1]].checked;
    },
    resetAll() {
      this.steps[this.currentStep].forEach((item) => {
        item.checked = false;
      });
    },
    moveForward() {
      if (this.currentStep < this.steps.length - 1) {
        this.currentStep = this.getNextStep();
      } else {
        this.showResult = true;
        window.scrollTo(0, 0);
      }
    },
    submitHandler() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        let formData = new FormData();

        formData.append("NAME", this.name);
        formData.append("PHONE", this.phone);
        formData.append("TEST", this.level);

        fetch("https://studyarabic.ru/include/mail_ib.php", {
          method: "POST",
          body: formData,
        })
          .then(() => {
            this.$store.commit("setState", {
              key: "CTAFormSuccess",
              value: true,
            });
          })
          .catch(() => {
            if (process.env.NODE_ENV === "development") {
              this.$store.commit("setState", {
                key: "CTAFormSuccess",
                value: true,
              });
            }
          });
      }
    },
  },
  beforeMount() {
    this.getWords();
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables";

.test-screen {
  padding: 50px 0 140px;

  @media (max-width: $desktop-l - 1) {
    padding: 40px 0 108px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 40px 0 90px;
  }

  @media (max-width: $tablet - 1) {
    padding: 40px 0 30px;
  }
}

.test-screen__heading {
  margin-bottom: 40px;
  font-size: 80px;
  line-height: 100%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    font-size: 66px;
    margin-bottom: 30px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 45px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.test-screen__desc {
  font-size: 26px;
  line-height: 130%;
  color: #000000;

  @media (max-width: $desktop-l - 1) {
    font-size: 22px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 18px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 14px;
  }
}

.test-screen__step-info {
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding: 0 80px;
  height: 99px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;

  @media (max-width: $desktop-l - 1) {
    padding: 0;
    margin-top: 60px;
  }

  @media (max-width: $desktop-s - 1) {
    height: 71px;
    margin-top: 50px;
  }

  @media (max-width: $tablet - 1) {
    height: auto;
    padding: 15px 0;
    margin-top: 40px;
  }
}

.test-screen__pre {
  font-size: 40px;
  line-height: 110%;
  color: black;
  margin-right: 10px;

  @media (max-width: $desktop-l - 1) {
    font-size: 36px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 26px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 22px;
  }
}

.test-screen__num {
  color: black;
  font-size: 40px;
  line-height: 110%;
  font-style: italic;

  @media (max-width: $desktop-s - 1) {
    font-size: 26px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 22px;
  }
}

.test-screen__step {
  display: flex;
  justify-content: center;
  padding: 80px 0 110px;

  @media (max-width: $desktop-l - 1) {
    padding: 70px 0 80px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 40px 0 70px;
  }

  @media (max-width: $tablet - 1) {
    padding: 35px 0 55px;
  }
}

.test-screen__words {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  flex-grow: 1;
  margin: -17.5px -10px;

  @media (max-width: $desktop-l - 1) {
    max-width: none;
  }

  @media (max-width: $desktop-s - 1) {
    margin: -15px -10px;
  }
}

.test-screen__words > li {
  flex: 0 0 (100% / 6);
  max-width: (100% / 6);
  padding: 17.5px 10px;

  @media (max-width: $desktop-s - 1) {
    flex: 0 0 (100% / 4);
    max-width: (100% / 4);
    padding: 15px 10px;
  }

  @media (max-width: $tablet - 1) {
    flex: 0 1 150px;
    max-width: 150px;
  }
}

.check {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}

.check__box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 28px;
  height: 28px;
  width: 28px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.6);

  @media (max-width: $desktop-s - 1) {
    flex: 0 0 26px;
    height: 26px;
    width: 26px;
  }
}

.check__box svg {
  width: 16px;
  height: 16px;
  transform: translateY(10%);
}

.checked .check__box {
  background: #000000;
  border: 2px solid #000000;
  color: white;
}

.check__name {
  margin-left: 17px;
  font-size: 30px;
  line-height: 130%;
  color: black;

  @media (max-width: $tablet - 1) {
    font-size: 24px;
  }
}

.test-screen__tools {
  display: flex;
  justify-content: center;

  @media (max-width: $tablet - 1) {
    display: block;
  }
}

.test-screen__tools li {
  @media (max-width: $tablet - 1) {
    margin-bottom: 10px;
  }
}

.test-screen__tools li:last-child {
  margin-bottom: 0;
}

.test-screen__btn {
  width: 414px;

  @media (max-width: $desktop-l - 1) {
    width: 270px;
  }

  @media (max-width: $desktop-s - 1) {
    width: 240px;
  }

  @media (max-width: $tablet - 1) {
    width: 100%;
  }
}

.test-screen__result-heading {
  font-size: 80px;
  line-height: 100%;
  colro: black;
  margin-bottom: 40px;

  @media (max-width: $desktop-l - 1) {
    font-size: 66px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-bottom: 35px;
    font-size: 45px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 35px;
    margin-bottom: 25px;
  }
}

.test-screen__result-text {
  font-size: 26px;
  line-height: 130%;
  color: black;

  @media (max-width: $desktop-l - 1) {
    font-size: 22px;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: 18px;
  }

  @media (max-width: $tablet - 1) {
    font-size: 16px;
  }
}

.test-screen__result-text p {
  margin: 1em 0;
}

.test-screen__result-text p:first-child {
  margin-top: 0;
}

.test-screen__result-text p:last-child {
  margin-bottom: 0;
}

.test-screen__form {
  margin-top: 72px;
  display: flex;
  align-items: center;

  @media (max-width: $desktop-l - 1) {
    margin-top: 75px;
  }

  @media (max-width: $desktop-s - 1) {
    margin-top: 16px;
    display: block;
  }
}

.test-screen__form ul {
  flex-grow: 1;
  display: flex;
  margin: 0 -20px;
  max-width: 955px;

  @media (max-width: $desktop-l - 1) {
    max-width: 790px;
    margin: 0 -15px;
  }

  @media (max-width: $desktop-s - 1) {
    display: block;
    max-width: none;
    margin: 0;
  }
}

.test-screen__input-cell {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 20px;

  @media (max-width: $desktop-l - 1) {
    padding: 0 15px;
  }

  @media (max-width: $desktop-s - 1) {
    padding: 0;
    margin-bottom: 22px;
  }

  @media (max-width: $tablet - 1) {
    margin-bottom: 20px;
  }
}

.test-screen__input-cell:last-child {
  margin-bottom: 0;
}

.test-screen__submit-wrapper {
  flex: 0 0 366px;
  max-width: 366px;
  margin-left: 69px;

  @media (max-width: $desktop-l - 1) {
    flex: 0 0 270px;
    max-width: 270px;
    margin-left: 38px;
  }

  @media (max-width: $desktop-s - 1) {
    max-width: 100%;
    margin-left: 0;
    margin-top: 45px;
  }

  @media (max-width: $tablet - 1) {
    margin-top: 35px;
  }
}

.test-screen__submit {
  width: 100%;
}
</style>
