<template>
  <fieldset>
    <label :class="['field', { alert: error.length }, { correct: correct }]">
      <input
        class="field__input"
        :placeholder="label"
        @input="handleInput"
        @keypress="pressHandler($event)"
        :type="isPhone ? 'tel' : 'text'"
      />
      <span></span>
      <i v-show="correct"
        ><icon-base><icon-tick /></icon-base>
      </i>
    </label>
    <div class="error" v-show="error.length">
      {{ error }}
    </div>
  </fieldset>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconTick from "@/components/icons/IconTick";

export default {
  components: {
    IconBase,
    IconTick,
  },
  props: {
    label: {
      type: String,
      default: "",
    },
    error: {
      type: String,
      default: "",
    },
    correct: {
      type: Boolean,
      default: false,
    },
    value: {
      type: String,
      default: "",
    },
    isPhone: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleInput(e) {
      this.$emit("input", e.target.value);
    },
    pressHandler(evt) {
      var charCode = evt.which ? evt.which : event.keyCode;

      if (
        charCode !== 43 &&
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        this.isPhone
      ) {
        evt.preventDefault();
      }
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/variables";

.field {
  position: relative;
  display: block;
  transition: border 0.2s $text-easing;
  overflow: hidden;
}

.field::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #808080;
  content: "";
  transition: background 0.2s $text-easing;
}

.field span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a99b84;
  transform: translate3d(-105%, 0, 0);
  opacity: 0;
  transition: transform 0.285s ease-out 0.2s, opacity 0.2s ease-out 0.2s;
}

.field i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.check i {
  width: 15px;
  height: 15px;
  color: black;
}

.field__input {
  display: block;
  width: 100%;
  padding: 0 14px;
  height: 75px;
  font-size: 20px;
  line-height: 130%;
  transition: color 0.2s $text-easing;
  color: black;

  @media (max-width: $desktop-s - 1) {
    height: 57px;
    font-size: 18px;
  }

  @media (max-width: $tablet - 1) {
    height: 39px;
    font-size: 16px;
  }
}

.correct .field__input {
  padding-right: 30px;
}

.field__input::placeholder {
  color: #808080;
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
  .field:hover::before {
    background-color: black;
  }

  .field:hover .field__input::placeholder {
    color: black;
  }
}

.field__input:focus ~ span {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.alert::before,
.alert span {
  background-color: #974854;
}

@media (hover: hover) and (pointer: fine) {
  .alert:hover::before {
    background-color: #974854;
  }
}

.error {
  padding: 11px 15px;
  background: #f5efe4;
  font-size: 16px;
  line-height: 130%;
  color: #974854;
}

* + .error {
  margin-top: 10px;
}
</style>
