<template>
    <path d="M17.1991 15.9952L26.2039 6.98159C26.3627 6.82194 26.4518 6.60585 26.4517 6.38063C26.4515 6.15541 26.3621 5.93943 26.2031 5.77999C25.8847 5.46319 25.3239 5.46159 25.0023 5.78159L15.9999 14.7952L6.99427 5.77919C6.67427 5.46319 6.11347 5.46479 5.79507 5.78079C5.71604 5.85951 5.65348 5.95317 5.61104 6.05633C5.56859 6.15948 5.54712 6.27005 5.54787 6.38159C5.54787 6.60879 5.63587 6.82159 5.79507 6.97919L14.7999 15.9944L5.79587 25.0104C5.63698 25.1703 5.548 25.3867 5.54845 25.6121C5.5489 25.8375 5.63874 26.0535 5.79827 26.2128C5.95267 26.3656 6.17107 26.4536 6.39667 26.4536H6.40147C6.62787 26.4528 6.84627 26.364 6.99747 26.2096L15.9999 17.196L25.0055 26.212C25.1647 26.3704 25.3775 26.4584 25.6031 26.4584C25.7146 26.4587 25.8251 26.437 25.9283 26.3944C26.0314 26.3519 26.1251 26.2894 26.204 26.2105C26.2829 26.1316 26.3454 26.0379 26.3879 25.9348C26.4304 25.8317 26.4522 25.7211 26.4519 25.6096C26.4519 25.3832 26.3639 25.1696 26.2039 25.012L17.1991 15.9952Z" fill="black"/>
</template>
