<template>
  <g>
    <path d="M7.62939e-06 1L30 1.00006" stroke="black" stroke-width="2" />
    <path d="M7.62939e-06 7L30 7.00006" stroke="black" stroke-width="2" />
    <path d="M7.62939e-06 13L30 13.0001" stroke="black" stroke-width="2" />
  </g>
</template>
