/**
*
*
* @author Tatevosyan Artem (@teqst)
*/

<template>
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
      <path d="M23.6668 9.33342L18.6668 4.33342L5.5335 17.4668C5.40016 17.6001 5.3335 17.7601 5.3335 17.9468V22.0001C5.3335 22.3734 5.62683 22.6668 6.00016 22.6668H10.0535C10.2268 22.6668 10.4002 22.6001 10.5202 22.4668L23.6668 9.33342ZM27.6135 5.38675C27.7371 5.2634 27.8352 5.11688 27.9021 4.95558C27.969 4.79429 28.0034 4.62138 28.0034 4.44675C28.0034 4.27213 27.969 4.09922 27.9021 3.93792C27.8352 3.77662 27.7371 3.6301 27.6135 3.50675L24.4935 0.386752C24.3701 0.263147 24.2236 0.165083 24.0623 0.0981748C23.901 0.0312662 23.7281 -0.00317383 23.5535 -0.00317383C23.3789 -0.00317383 23.206 0.0312662 23.0447 0.0981748C22.8834 0.165083 22.7368 0.263147 22.6135 0.386752L20.0002 3.00008L25.0002 8.00009L27.6135 5.38675Z" fill="black"/>
      <path d="M2.66667 26.6667H29.3333C30.8 26.6667 32 27.8667 32 29.3334C32 30.8001 30.8 32.0001 29.3333 32.0001H2.66667C1.2 32.0001 0 30.8001 0 29.3334C0 27.8667 1.2 26.6667 2.66667 26.6667Z" fill="black" fill-opacity="0.3"/>
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="32" height="32" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</template>
