<template>
  <div
      id="app"
      :class="['app', { offset: $route.name !== 'Home' }]"
  >
    <div
        v-if="$store.getters.isLoading"
        class="loading-bar__wrapper">
      <div class="loading-bar">
        <img
            class="animated loader-animated"
            src="@/assets/images/round_logo.svg"
            v-show="!$store.state.isMobile"
        />
        Подождите секундочку..
      </div>
    </div>
    <header-logo v-show="!$store.state.isTablet"></header-logo>
    <my-header
      v-if="
        $route.name !== 'Home' ||
          ($route.name === 'Home' && $store.state.isMobile)
      "
      :fixed="
        $route.name === 'Home' &&
        $store.state.isMobile &&
        !$store.state.mobileMenuVisible
          ? false
          : true
      "
    ></my-header>
    <sidebar v-if="!$store.state.isTablet && $route.name === 'Home'"></sidebar>
    <mobile-menu
      v-show="$store.state.isMobile && $store.state.mobileMenuVisible"
    ></mobile-menu>
    <main :style="$route.name !== 'Home' ? `background-color: ${pageColor}` : ''">
      <div data-scroll>
        <my-header
          v-if="$route.name === 'Home' && !$store.state.isMobile"
        ></my-header>
        <div><router-view /></div>
        <home-section-contacts
          v-if="
            this.$route.name !== 'notFound' && this.$route.name !== 'Contact'
          "
        ></home-section-contacts>
        <my-footer v-if="this.$route.name !== 'notFound'"></my-footer>
      </div>
    </main>
    <modal
      heading="Ваша заявка отправлена"
      text="В ближайшее время с вами свяжется наш сотрудник"
      mod="CTA"
      v-show="$store.state.CTAFormSuccess"
      @close="
        $store.commit('setState', { key: 'CTAFormSuccess', value: false })
      "
    ></modal>
  </div>
</template>

<script>
import MyHeader from "@/components/Header";
import HeaderLogo from "@/components/HeaderLogo";
import Sidebar from "@/components/Sidebar";
import MyFooter from "@/components/Footer";
import MobileMenu from "@/components/MobileMenu";
import HomeSectionContacts from "@/components/HomeSectionContacts";
import Modal from "@/components/Modal";

export default {
  components: {
    Sidebar,
    MyHeader,
    MyFooter,
    MobileMenu,
    HeaderLogo,
    HomeSectionContacts,
    Modal,
  },
  data() {
    return {
    }
  },
  computed: {
    pageColor() {
      return this.$route.name === "Home" || this.$route.name === "Contact"
        ? "#ffffff"
        : "#F8F6F3";
    },
  },
  methods: {
    tabletTest() {
      if (window.innerWidth < 1279) {
        this.$store.commit("setState", {
          key: "isTablet",
          value: true,
        });
      } else {
        this.$store.commit("setState", {
          key: "isTablet",
          value: false,
        });
      }
    },
    mobileTest() {
      if (window.innerWidth < 699) {
        this.$store.commit("setState", {
          key: "isMobile",
          value: true,
        });
      } else {
        this.$store.commit("setState", {
          key: "isMobile",
          value: false,
        });
      }
    },
  },
  created() {
    this.tabletTest();
    this.mobileTest();

    window.addEventListener("resize", () => {
      this.tabletTest();
      this.mobileTest();
    });
  },
};
</script>

<style lang="scss">
@import "~destyle.css/destyle.css";
@import "@/assets/styles/fonts";
@import "@/assets/styles/variables";
@import "@/assets/styles/global";

.app__aside {
  position: fixed;
}

[data-scroll] {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(0, 1fr);

  min-height: 100vh;
}

.offset [data-scroll] {
  padding-top: 155px;

  @media (max-width: $desktop-l - 1) {
    padding-top: 124px;
  }

  @media (max-width: $desktop-s - 1) {
    padding-top: 173px;
  }

  @media (max-width: $tablet - 1) {
    padding-top: 81px;
  }
}

.loading-bar__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000091;
  backdrop-filter: blur(5px);
  z-index: 9999;
  transition: all 0.5s linear;

  .loading-bar {
    position: fixed;
    bottom: 45%;
    right: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 443px;
    max-height: 130px;
    background-color: #ffffff99;
    color: #000000;
    border: 2px solid black;
    padding: 30px 25px;

    .loader-animated {
      width: 80px;
      margin: 0 10px;
    }
  }
}

.blocked {
  overflow: hidden;
}
</style>
