@mixin fSize($fsize1, $fsize2, $fsize3) {
  @media (max-width: $desktop-m - 1) {
    font-size: $fsize1;
  }

  @media (max-width: $desktop-s - 1) {
    font-size: $fsize2;
  }

  @media (max-width: $tablet - 1) {
    font-size: $fsize3;
  }

}

@mixin marginTop($fsize, $fsize1, $fsize2, $fsize3, $fsize4) {
  @if $fsize != 'null' {
    margin-top: $fsize;
  }
  @if $fsize1 != 'null' {
    @media (max-width: $desktop - 1) {
      margin-top: $fsize1;
    }
  }
  @if $fsize2 != 'null' {
    @media (max-width: $desktop-m - 1) {
      margin-top: $fsize2;
    }
  }
  @if $fsize3 != 'null' {
    @media (max-width: $desktop-s - 1) {
      margin-top: $fsize3;
    }
  }
  @if $fsize4 != 'null' {
    @media (max-width: $tablet - 1) {
      margin-top: $fsize4;
    }
  }
}

@mixin fontSize($fsize, $fsize1, $fsize2, $fsize3, $fsize4) {
  @if $fsize != 'null' {
    font-size: $fsize;
  }
  @if $fsize1 != 'null' {
    @media (max-width: $desktop - 1) {
      font-size: $fsize1;
    }
  }
  @if $fsize2 != 'null' {
    @media (max-width: $desktop-m - 1) {
      font-size: $fsize2;
    }
  }
  @if $fsize3 != 'null' {
    @media (max-width: $desktop-s - 1) {
      font-size: $fsize3;
    }
  }
  @if $fsize4 != 'null' {
    @media (max-width: $tablet - 1) {
      font-size: $fsize4;
    }
  }
}

@mixin maxWidth($fsize, $fsize1, $fsize2, $fsize3, $fsize4) {
  @if $fsize != 'null' {
    max-width: $fsize;
  }
  @if $fsize1 != 'null' {
    @media (max-width: $desktop - 1) {
      max-width: $fsize1;
    }
  }
  @if $fsize2 != 'null' {
    @media (max-width: $desktop-m - 1) {
      max-width: $fsize2;
    }
  }
  @if $fsize3 != 'null' {
    @media (max-width: $desktop-s - 1) {
      max-width: $fsize3;
    }
  }
  @if $fsize4 != 'null' {
    @media (max-width: $tablet - 1) {
      max-width: $fsize4;
    }
  }
}
