$font-1: "Comfortaa", sans-serif;

$color-1: #6C6250;
$color-2: #291C15;
$color-3: #1A100B;
$color-4: #FFB981;
$color-5: #FFB981;
$color-6: #FFB981;

$desktop-l: 1600px;
$desktop-m: 1440px;
$desktop-s: 1280px;
$tablet: 700px;
$mobile: 320px;

$text-easing: cubic-bezier(0.46, 0.03, 0.52, 0.96);